Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/docker/adu-debian-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/docker/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: 1es_hosted_pool_windows
        os: windows
      sdl:
        sourceAnalysisPool:
          name: 1es_hosted_pool_windows
          os: windows
        suppression:
  ...

...
  src/diagnostics_component/utils/file_info_utils/tests/file_info_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

remove report
  src/agent_orchestration/directory-specific-report.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

required changes
  .github/workflows/docker-build.yml
  .gitignore
  CMakeLists.txt
  README.md
  cmake/agentRules.cmake
  code-coverage-report-req.txt
  context.md
  docs/agent-reference/how-to-build-agent-code.md
  packages/CMakeLists.txt
  packages/debian/postinst
  scripts/build.sh
  scripts/install-deps.sh
  scripts/patches/azure-storage-sdk-base64-cstdint.patch
  src/extensions/content_downloaders/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v2/inc/aduc/swupdate_handler_result_codes.h
  src/inc/aduc/result.h
  src/inc/aduc/swupdate_handler_result_codes.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

communication_abstractions & communications_managers
  src/communication_abstraction/CMakeLists.txt
  src/communication_abstraction/tests/CMakeLists.txt
  src/communication_abstraction/tests/client_handle_helper_ut.cpp
  src/communication_managers/iothub_communication_manager/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/tests/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/tests/iothub_communication_manager_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

platform_layers
  src/platform_layers/linux_platform_layer/tests/CMakeLists.txt
  src/platform_layers/linux_platform_layer/tests/linux_adu_core_exports_ut.cpp
  src/platform_layers/linux_platform_layer/tests/linux_adu_core_impl_ut.cpp
  src/platform_layers/linux_platform_layer/tests/linux_device_info_exports_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Enable Debian 13 build
  .github/workflows/docker-build.yml
  scripts/build.sh
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add Debian 13 (Trixie) to documentation
  README.md
  docs/agent-reference/how-to-build-agent-code.md
Due: none

add *.gcov to .gitignore
  .gitignore
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Update src/utils/exception_utils/CMakeLists.txt
  src/utils/exception_utils/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add support for Debian 13 (Trixie) (#819)
  .github/workflows/docker-build.yml
  README.md
  docs/agent-reference/how-to-build-agent-code.md
  scripts/build.sh
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Update src/utils/file_utils/tests/file_utils_ut.cpp
  src/utils/file_utils/tests/file_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

feat: Use curl handler as the default content handler (#810)
  daemon/deviceupdate-agent.service
  daemon/install.sh
  docs/agent-reference/registering-device-update-extensions.md
  packages/debian/postinst
  packages/debian/postrm
  packages/debian/preinst
  scripts/build.sh
  scripts/install-du.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Revert "required changes"
  .github/workflows/docker-build.yml
  .gitignore
  CMakeLists.txt
  README.md
  cmake/agentRules.cmake
  code-coverage-report-req.txt
  context.md
  docs/agent-reference/how-to-build-agent-code.md
  packages/CMakeLists.txt
  packages/debian/postinst
  scripts/build.sh
  scripts/install-deps.sh
  scripts/patches/azure-storage-sdk-base64-cstdint.patch
  src/extensions/content_downloaders/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v2/inc/aduc/swupdate_handler_result_codes.h
  src/inc/aduc/result.h
  src/inc/aduc/swupdate_handler_result_codes.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Merge pull request #818 from Azure/henrymorales/unit-test-updates-1
  src/adu_workflow/CMakeLists.txt
  src/adu_workflow/tests/CMakeLists.txt
  src/adu_workflow/tests/agent_workflow_ut.cpp
  src/adu_workflow/tests/main.cpp
  src/agent/adu_core_interface/tests/device_properties_tests/device_properties_ut.cpp
  src/agent/pnp_helper/CMakeLists.txt
  src/agent/pnp_helper/tests/CMakeLists.txt
  src/agent/pnp_helper/tests/pnp_protocol_ut.cpp
  src/agent/shutdown_service/CMakeLists.txt
  src/agent/shutdown_service/tests/CMakeLists.txt
  src/agent/shutdown_service/tests/shutdown_service_ut.cpp
  src/agent_orchestration/CMakeLists.txt
  src/agent_orchestration/tests/CMakeLists.txt
  src/agent_orchestration/tests/agent_orchestration_ut.cpp
  src/agent_orchestration/tests/main.cpp
  src/diagnostics_component/diagnostics_devicename/CMakeLists.txt
  src/diagnostics_component/diagnostics_devicename/tests/CMakeLists.txt
  src/diagnostics_component/diagnostics_devicename/tests/diagnostics_devicename_ut.cpp
  src/diagnostics_component/diagnostics_workflow/CMakeLists.txt
  src/diagnostics_component/diagnostics_workflow/tests/CMakeLists.txt
  src/diagnostics_component/diagnostics_workflow/tests/diagnostics_result_ut.cpp
  src/diagnostics_component/utils/config_utils/tests/diagnostics_config_utils_ut.cpp
  src/diagnostics_component/utils/file_info_utils/tests/file_info_utils_ut.cpp
  src/diagnostics_component/utils/operation_id_utils/CMakeLists.txt
  src/diagnostics_component/utils/operation_id_utils/tests/CMakeLists.txt
  src/diagnostics_component/utils/operation_id_utils/tests/operation_id_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Pass workflowData to PrepareScriptArguments to make it possible to pass custom data from workflowData to the scripts (#806)
  src/extensions/step_handlers/script_handler/inc/aduc/script_handler.hpp
  src/extensions/step_handlers/script_handler/src/script_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add run_coverage.sh script to generate code coverage report
  scripts/build.sh
  scripts/run_coverage.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add run_coverage.sh script to generate code coverage report (#822)
  scripts/build.sh
  scripts/run_coverage.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix
  src/adu_workflow/tests/CMakeLists.txt
  src/adu_workflow/tests/agent_workflow_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix
  src/utils/config_utils/tests/config_utils_ut.cpp
  src/utils/system_utils/src/system_utils.c
  src/utils/system_utils/tests/system_utils_ut.cpp
  src/utils/workflow_data_utils/tests/workflow_data_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Several Unit Test Improvements (#823)
  src/communication_abstraction/CMakeLists.txt
  src/communication_abstraction/tests/CMakeLists.txt
  src/communication_abstraction/tests/client_handle_helper_ut.cpp
  src/communication_managers/iothub_communication_manager/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/tests/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/tests/iothub_communication_manager_ut.cpp
  src/platform_layers/linux_platform_layer/tests/linux_adu_core_exports_ut.cpp
  src/platform_layers/linux_platform_layer/tests/linux_adu_core_impl_ut.cpp
  src/platform_layers/linux_platform_layer/tests/linux_device_info_exports_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Cherrypick: Merge pull request #818 from Azure/henrymorales/unit-test-updates-1 (#821)
  src/adu_workflow/CMakeLists.txt
  src/adu_workflow/tests/CMakeLists.txt
  src/adu_workflow/tests/agent_workflow_ut.cpp
  src/adu_workflow/tests/main.cpp
  src/agent/adu_core_interface/tests/device_properties_tests/device_properties_ut.cpp
  src/agent/pnp_helper/CMakeLists.txt
  src/agent/pnp_helper/tests/CMakeLists.txt
  src/agent/pnp_helper/tests/pnp_protocol_ut.cpp
  src/agent/shutdown_service/CMakeLists.txt
  src/agent/shutdown_service/tests/CMakeLists.txt
  src/agent/shutdown_service/tests/shutdown_service_ut.cpp
  src/agent_orchestration/CMakeLists.txt
  src/agent_orchestration/tests/CMakeLists.txt
  src/agent_orchestration/tests/agent_orchestration_ut.cpp
  src/agent_orchestration/tests/main.cpp
  src/diagnostics_component/diagnostics_devicename/CMakeLists.txt
  src/diagnostics_component/diagnostics_devicename/tests/CMakeLists.txt
  src/diagnostics_component/diagnostics_devicename/tests/diagnostics_devicename_ut.cpp
  src/diagnostics_component/diagnostics_workflow/CMakeLists.txt
  src/diagnostics_component/diagnostics_workflow/tests/CMakeLists.txt
  src/diagnostics_component/diagnostics_workflow/tests/diagnostics_result_ut.cpp
  src/diagnostics_component/utils/config_utils/tests/diagnostics_config_utils_ut.cpp
  src/diagnostics_component/utils/file_info_utils/tests/file_info_utils_ut.cpp
  src/diagnostics_component/utils/operation_id_utils/CMakeLists.txt
  src/diagnostics_component/utils/operation_id_utils/tests/CMakeLists.txt
  src/diagnostics_component/utils/operation_id_utils/tests/operation_id_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

exclude example code from report
  scripts/run_coverage.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

exclude example code from report (#825)
  scripts/run_coverage.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

disable d2c_messaging unit test
  src/utils/d2c_messaging/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

adu_types
  src/adu_types/CMakeLists.txt
  src/adu_types/tests/CMakeLists.txt
  src/adu_types/tests/adu_types_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

code coverage improvement
  code-coverage-report-req.txt
  context.md
  scripts/build.sh
  scripts/generate_coverage_report.py
  scripts/sh-format.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Python Script to Generate Code Coverage When ./build.sh --coverage is ran
  scripts/build.sh
  scripts/generate_coverage_report.py
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Pre-commit hook fix
  scripts/sh-format.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

...
  src/adu_types/src/adu_types.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Revert "code coverage improvement"
  code-coverage-report-req.txt
  context.md
  scripts/build.sh
  scripts/generate_coverage_report.py
  scripts/sh-format.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Python Script to Generate Code Coverage & Commit Hook Fix (#826)
  scripts/build.sh
  scripts/generate_coverage_report.py
  scripts/sh-format.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/docker/adu-debian-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/docker/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: daemon, docker, docs, licenses, tools, **/*.md
