Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
    - template: ../templates/adu-native-build-steps.yml
  ...

Script improvements.
  scripts/install-deps.ps1
  scripts/install-du.ps1
  src/agent/src/health_management.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove milliseconds from package name.
  scripts/install-du.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fix up permission values.
  src/agent/src/health_management.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Task 43127947: Fix up LinuxPlatformLayer -- create WindowsPlatformLayer
  CMakeLists.txt
  scripts/build.ps1
  scripts/install-du.ps1
  scripts/run_uts.ps1
  src/adu-shell/CMakeLists.txt
  src/agent/CMakeLists.txt
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/src/main.c
  src/extensions/step_handlers/swupdate_handler_v2/CMakeLists.txt
  src/libaducpal/CMakeLists.txt
  src/libaducpal/inc/aducpal/signal.h
  src/libaducpal/inc/aducpal/sys_statvfs.h
  src/libaducpal/inc/aducpal/sys_sysinfo.h
  src/libaducpal/inc/aducpal/sys_utsname.h
  src/libaducpal/inc/aducpal/unistd.h
  src/libaducpal/src/signal.c
  src/libaducpal/src/sys_statvfs.c
  src/libaducpal/src/sys_sysinfo.c
  src/libaducpal/src/sys_utsname.c
  src/libaducpal/src/unistd.c
  src/platform_layers/CMakeLists.txt
  src/platform_layers/linux_platform_layer/src/linux_device_info_exports.cpp
  src/platform_layers/linux_platform_layer/tests/download_ut.cpp
  src/platform_layers/windows_platform_layer/CMakeLists.txt
  src/platform_layers/windows_platform_layer/src/adu_core_exports.cpp
  src/platform_layers/windows_platform_layer/src/adu_core_impl.cpp
  src/platform_layers/windows_platform_layer/src/adu_core_impl.hpp
  src/platform_layers/windows_platform_layer/src/device_info_exports.cpp
  src/utils/config_utils/CMakeLists.txt
  src/utils/config_utils/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix bad merge on swupdate_handler_v2.cpp
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Block UTs from running elevated.
  scripts/run_uts.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Task 43127947: Fix up LinuxPlatformLayer -- create WindowsPlatformLayer (#410)
  CMakeLists.txt
  scripts/build.ps1
  scripts/install-du.ps1
  src/adu-shell/CMakeLists.txt
  src/agent/CMakeLists.txt
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/src/main.c
  src/extensions/step_handlers/swupdate_handler_v2/CMakeLists.txt
  src/libaducpal/CMakeLists.txt
  src/libaducpal/inc/aducpal/signal.h
  src/libaducpal/inc/aducpal/sys_statvfs.h
  src/libaducpal/inc/aducpal/sys_sysinfo.h
  src/libaducpal/inc/aducpal/sys_utsname.h
  src/libaducpal/inc/aducpal/unistd.h
  src/libaducpal/src/signal.c
  src/libaducpal/src/sys_statvfs.c
  src/libaducpal/src/sys_sysinfo.c
  src/libaducpal/src/sys_utsname.c
  src/libaducpal/src/unistd.c
  src/platform_layers/CMakeLists.txt
  src/platform_layers/linux_platform_layer/src/linux_device_info_exports.cpp
  src/platform_layers/linux_platform_layer/tests/download_ut.cpp
  src/platform_layers/windows_platform_layer/CMakeLists.txt
  src/platform_layers/windows_platform_layer/src/adu_core_exports.cpp
  src/platform_layers/windows_platform_layer/src/adu_core_impl.cpp
  src/platform_layers/windows_platform_layer/src/adu_core_impl.hpp
  src/platform_layers/windows_platform_layer/src/device_info_exports.cpp
  src/utils/config_utils/CMakeLists.txt
  src/utils/config_utils/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Improve winget installation.
  scripts/install-deps.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fix up bad merge
  src/extensions/step_handlers/swupdate_handler_v2/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Use updated JSON schema. Also change hwrap to be less aggressive (2 to 6).
  .cmake-format.json
Due: none

Use updated JSON schema. Also change hwrap to be less aggressive (2 to 6). (#411)
  .cmake-format.json
Due: none

Add decrypted file handling download logic
  src/extensions/extension_manager/CMakeLists.txt
  src/extensions/extension_manager/inc/aduc/extension_manager_helper.hpp
  src/extensions/extension_manager/src/extension_manager.cpp
  src/extensions/extension_manager/src/extension_manager_helper.cpp
  src/utils/CMakeLists.txt
  src/utils/content_protection_utils/CMakeLists.txt
  src/utils/content_protection_utils/inc/content_protection_utils.h
  src/utils/content_protection_utils/inc/decryption_info.h
  src/utils/content_protection_utils/src/content_protection_utils.c
  src/utils/content_protection_utils/src/decryption_info.c
  src/utils/workflow_utils/inc/aduc/workflow_internal.h
  src/utils/workflow_utils/inc/aduc/workflow_utils.h
  src/utils/workflow_utils/src/workflow_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Bug 43488750: Logging should include line number
  src/logging/zlog/inc/zlog.h
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Change output folder to out/{Type} to avoid side-by-side build conflicts with shared src folder.
  scripts/build.ps1
  scripts/debug_agent.ps1
  scripts/install-du.ps1
  scripts/run_uts.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Add comment.
  scripts/build.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fixing some build errors
  src/utils/content_protection_utils/inc/content_protection_field_defs.h
  src/utils/content_protection_utils/src/content_protection_utils.c
  src/utils/crypto_utils/CMakeLists.txt
  src/utils/crypto_utils/inc/crypto_lib.h
  src/utils/crypto_utils/inc/decryption_alg_types.h
  src/utils/crypto_utils/inc/decryption_utils.h
  src/utils/crypto_utils/inc/key_data.h
  src/utils/crypto_utils/src/crypto_lib.c
  src/utils/crypto_utils/src/decryption_utils.c
  src/utils/crypto_utils/tests/decryption_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

add elf_size.sh to find footprint hogs in binaries
  scripts/elf_size.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

echo pattern
  scripts/elf_size.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

add filter by BSS, TEXT, and weak symbols
  scripts/elf_size.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

clang
  scripts/install-deps.sh
  snap/snapcraft.yaml
  src/utils/eis_utils/src/eis_coms.c
  src/utils/eis_utils/src/eis_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Add valgrind integrated testing via ctest -T memcheck
  DartConfiguration.tcl
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

add valgrind memcheck to quick start and howto build docs
  README.md
  docs/agent-reference/how-to-build-agent-code.md
Due: none

fix memleaks in file_info_utils_ut.cpp
  src/diagnostics_component/utils/file_info_utils/tests/file_info_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

debugging
  packages/debian/postinst
  src/utils/eis_utils/src/eis_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

consolidate on calloc_wrapper or cstr_wrapper in UT cpp files
  src/diagnostics_component/utils/file_info_utils/tests/file_info_utils_ut.cpp
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/tests/source_update_cache_utils_ut.cpp
  src/utils/c_utils/tests/connection_string_utils_ut.cpp
  src/utils/config_utils/tests/config_utils_ut.cpp
  src/utils/crypto_utils/tests/crypto_utils_ut.cpp
  src/utils/eis_utils/tests/eis_utils_ut.cpp
  src/utils/hash_utils/tests/CMakeLists.txt
  src/utils/hash_utils/tests/hash_utils_ut.cpp
  src/utils/jws_utils/tests/jws_utils_ut.cpp
  src/utils/test_utils/inc/aduc/free_deleter.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix
  src/utils/eis_utils/src/eis_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Change ordering for install on a new machine.
  scripts/install-du.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

null terminate after strncpy of jws header
  src/utils/jws_utils/src/jws_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

null terminate after strncpy of jws header (#417)
  src/utils/jws_utils/src/jws_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix: add missing link to atomic library
  src/extensions/content_downloaders/deliveryoptimization_downloader/CMakeLists.txt
  src/platform_layers/linux_platform_layer/CMakeLists.txt
  src/platform_layers/linux_platform_layer/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Initial implementation of crypto utils
  scripts/error_code_generator_defs/result_codes.json
  src/inc/aduc/result.h
  src/utils/crypto_utils/inc/crypto_lib.h
  src/utils/crypto_utils/src/crypto_lib.c
  src/utils/crypto_utils/src/decryption_utils.c
  src/utils/crypto_utils/tests/crypto_utils_ut.cpp
  src/utils/crypto_utils/tests/decryption_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Added more tests using real DCAT data
  src/utils/crypto_utils/inc/crypto_lib.h
  src/utils/crypto_utils/src/crypto_lib.c
  src/utils/crypto_utils/tests/CMakeLists.txt
  src/utils/crypto_utils/tests/crypto_utils_ut.cpp
  src/utils/crypto_utils/tests/testdata/crypto_utils/EncryptedBase64UrlEncodedText.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/EncryptedTestFile.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/OriginalFile.txt
  src/utils/string_utils/inc/aduc/calloc_wrapper.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

eis integration
  packages/debian/postinst
  snap/snapcraft.yaml
  src/utils/eis_utils/CMakeLists.txt
  src/utils/eis_utils/src/eis_coms.c
  src/utils/eis_utils/src/eis_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

remove comments
  src/utils/eis_utils/src/eis_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

added handling to restart adu in case of "unauthenticated:no network"
  src/communication_managers/iothub_communication_manager/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Working internal encryption/decryption
  src/inc/aduc/result.h
  src/utils/crypto_utils/src/crypto_lib.c
  src/utils/crypto_utils/tests/crypto_utils_ut.cpp
  src/utils/crypto_utils/tests/testdata/crypto_utils/encoded_test_content.enc
  src/utils/crypto_utils/tests/testdata/crypto_utils/keydata.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/keydata_b64.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/old_test_data/EncryptedBase64UrlEncodedText.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/old_test_data/EncryptedTestFile.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/old_test_data/OriginalFile.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/test-content-b64-enc.enc
  src/utils/crypto_utils/tests/testdata/crypto_utils/test-content.enc
  src/utils/crypto_utils/tests/testdata/crypto_utils/test-content.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Add valgrind ctest memcheck, add doc, and fix a ut (#415)
  DartConfiguration.tcl
  README.md
  docs/agent-reference/how-to-build-agent-code.md
  src/diagnostics_component/utils/file_info_utils/tests/file_info_utils_ut.cpp
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/tests/source_update_cache_utils_ut.cpp
  src/utils/c_utils/tests/connection_string_utils_ut.cpp
  src/utils/config_utils/tests/config_utils_ut.cpp
  src/utils/crypto_utils/tests/crypto_utils_ut.cpp
  src/utils/eis_utils/tests/eis_utils_ut.cpp
  src/utils/hash_utils/tests/CMakeLists.txt
  src/utils/hash_utils/tests/hash_utils_ut.cpp
  src/utils/jws_utils/tests/jws_utils_ut.cpp
  src/utils/test_utils/inc/aduc/free_deleter.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Finished implementation, added unit tests
  src/utils/crypto_utils/CMakeLists.txt
  src/utils/crypto_utils/inc/crypto_lib.h
  src/utils/crypto_utils/src/crypto_lib.c
  src/utils/crypto_utils/tests/CMakeLists.txt
  src/utils/crypto_utils/tests/crypto_utils_ut.cpp
  src/utils/crypto_utils/tests/testdata/crypto_utils/encoded_test_content.enc
  src/utils/crypto_utils/tests/testdata/crypto_utils/keydata.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/keydata_b64.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/old_test_data/EncryptedBase64UrlEncodedText.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/old_test_data/EncryptedTestFile.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/old_test_data/OriginalFile.txt
  src/utils/crypto_utils/tests/testdata/crypto_utils/test-content-b64-enc.enc
  src/utils/crypto_utils/tests/testdata/crypto_utils/test-content.enc
  src/utils/crypto_utils/tests/testdata/crypto_utils/test-content.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Initial integration of rootkeypackage_utils
  src/CMakeLists.txt
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/rootkey_workflow/CMakeLists.txt
  src/rootkey_workflow/inc/aduc/rootkey_workflow.h
  src/rootkey_workflow/src/rootkey_workflow.c
  src/utils/root_key_utils/CMakeLists.txt
  src/utils/rootkeypackage_utils/inc/aduc/rootkeypackage_utils.h
  src/utils/rootkeypackage_utils/src/rootkeypackage_download.c
  src/utils/rootkeypackage_utils/tests/src/rootkeypackage_download_ut.cpp
  src/utils/rootkeypackage_utils/tests/testapp/src/main.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix swap of out params when parse unprotected params
  src/agent/adu_core_interface/src/adu_core_interface.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
