Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts

Update how-to-group-devices.md
  docs/how-to-group-devices.md
Due: none

Update device-update-log-collection.md
  docs/device-update-log-collection.md
Due: none

Update how-to-deploy-updates.md
  docs/how-to-deploy-updates.md
Due: none

Update README.md
  README.md
Due: none

Delete deliveryoptimization-agent_0.7.0_amd64.deb
  early-access-agent-artifacts/deliveryoptimization-agent_0.7.0_amd64.deb
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Add files via upload
  early-access-agent-artifacts/deliveryoptimization-agent_0.7.0_Ubuntu1804_amd64.deb
  early-access-agent-artifacts/deliveryoptimization-agent_0.7.0_amd64_ubuntu2004.deb
  early-access-agent-artifacts/deviceupdate-agent_0.9.0_Ubuntu2004_amd64.deb
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Init/cleanup segfault fixes on update metadata issues (#566)
  src/utils/hash_utils/src/hash_utils.c
  src/utils/parser_utils/CMakeLists.txt
  src/utils/parser_utils/inc/aduc/parser_utils.h
  src/utils/parser_utils/src/parser_utils.c
  src/utils/parser_utils/tests/CMakeLists.txt
  src/utils/parser_utils/tests/main.cpp
  src/utils/parser_utils/tests/parser_utils_ut.cpp
  src/utils/string_utils/inc/aduc/calloc_wrapper.hpp
  src/utils/workflow_utils/src/workflow_utils.c
  src/utils/workflow_utils/tests/workflow_get_update_file_ut.cpp
  src/utils/workflow_utils/tests/workflow_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove non-const get() in calloc_wrapper and fixup parser UT (#571)
  src/utils/parser_utils/tests/parser_utils_ut.cpp
  src/utils/string_utils/inc/aduc/calloc_wrapper.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Task 32125353: [GA] Support OS Debian 10 arm64 and armhf (and validation shared for customers on Raspberry Pi OS as well) (#573)
  azurepipelines/build/docker/adu-debian-arm32-build.yml
  azurepipelines/build/templates/adu-docker-build-steps.yml
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/tests/source_update_cache_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix err code gen json folder path (#574)
  CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Replace 0 erc in script handler script result file for discoverability (#577)
  docs/agent-reference/device-update-agent-extended-result-codes.md
  scripts/error_code_generator_defs/result_codes.json
  src/extensions/step_handlers/script_handler/README.md
  src/extensions/step_handlers/script_handler/src/script_handler.cpp
  src/inc/aduc/result.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix install-deps bug (#578)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Adding helper script for delta signing step
  tools/delta/sign_file.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Adding signing script info.
  docs/Delta update instructions.md
Due: none

Update sign_file.sh
  tools/delta/sign_file.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Adding signing parameter details.
  docs/Delta update instructions.md
Due: none

Update Delta update instructions.md
  docs/Delta update instructions.md
Due: none

Bug 41037069: Redeploy APT update to the device that previously applied the same update successfully will resulted in success deployment with step_0 result set to 'ADUC_Result_Failure' (0). (#581)
  src/adu_types/inc/aduc/types/adu_core.h
  src/agent/src/main.c
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update DO to v0.9.0 (#575)
  scripts/install-deps.sh
  src/extensions/content_downloaders/deliveryoptimization_downloader/deliveryoptimization-content-downloader.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

improve err msg when fail parse of du-config.json and fail healthcheck (#584)
  src/agent/src/health_management.c
  src/utils/config_utils/src/config_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Add `$schema` to `cgmanifest.json`
  licenses/cgmanifest.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix build after merge of do v0.9.0 change (#586)
  azurepipelines/build/templates/adu-native-build-steps.yml
  scripts/install-deps.sh
  src/platform_layers/linux_platform_layer/tests/mock_do_download.cpp
  src/platform_layers/linux_platform_layer/tests/mock_do_download.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Stephandler and delta refactor fix (#589)
  src/adu_workflow/src/agent_workflow.c
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/handler/lib/src/microsoft_delta_download_handler.c
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Quick fix - unblock vendor on pipeline (#591)
  azurepipelines/build/docker/adu-debian-arm32-build.yml
  azurepipelines/build/templates/adu-docker-build-steps.yml
  azurepipelines/build/templates/adu-native-build-steps.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Unblock ubuntu 18.04 amd64 (#592)
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

hidden bug that is making arm32 failed (#593)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Improve Zlog library (reduce buffer size and fix log truncation bug) (#595)
  src/adu-shell/src/main.cpp
  src/agent/src/main.c
  src/extensions/step_handlers/apt_handler/src/apt_handler.cpp
  src/logging/zlog/inc/zlog-config.h
  src/logging/zlog/src/init.c
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix e2e pipeline(partial) + arm32 pipeline (#594)
  azurepipelines/e2e_test/e2etest.yaml
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/tests/source_update_cache_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Replace 'interfaceId' with 'contractModelId' and change value to 'dtmi:azure:iot:deviceUpdateContractModel;2' (#590)
  CMakeLists.txt
  src/adu_types/inc/aduc/types/update_content.h
  src/agent/adu_core_interface/src/device_properties.c
  src/agent/adu_core_interface/src/device_properties.h
  src/agent/adu_core_interface/src/startup_msg_helper.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove nodeployment workflowid dep and minor fix in workflow logging (#598)
  src/adu_workflow/src/agent_workflow.c
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix free of downloadhandler handle by reinforcing ownership by factory (#600)
  src/adu_workflow/src/agent_workflow.c
  src/extensions/download_handlers/download_handler_factory/inc/aduc/download_handler_factory.h
  src/extensions/download_handlers/download_handler_factory/inc/aduc/download_handler_factory.hpp
  src/extensions/download_handlers/download_handler_factory/src/download_handler_factory.cpp
  src/extensions/download_handlers/download_handler_plugin/src/download_handler_plugin.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

remove unnecesary trace for cancel (#599)
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Implementation of Nox's POC for EIS SAS Token Refresh (#596)
  src/agent/src/main.c
  src/communication_abstraction/src/client_handle_helper.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Cleanup current workflow sandbox before processing deferred, replacement workflow (#601)
  src/adu_workflow/src/agent_workflow.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

catch downloadhandler exceptions, guard missing sandbox on mv to upd cache (#603)
  scripts/error_code_generator_defs/result_codes.json
  src/extensions/download_handlers/download_handler_factory/src/download_handler_factory.cpp
  src/extensions/download_handlers/download_handler_plugin/inc/aduc/download_handler_plugin.hpp
  src/extensions/download_handlers/download_handler_plugin/src/download_handler_plugin.cpp
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/src/source_update_cache_utils.c
  src/extensions/shared_lib/CMakeLists.txt
  src/extensions/shared_lib/inc/aduc/plugin_call_helper.hpp
  src/inc/aduc/result.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml
