Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
    - template: ../templates/adu-native-build-steps.yml
  ...

Fixed up Windows build. (#307)
  cmake/agentRules.cmake
  scripts/build.ps1
  src/adu-shell/CMakeLists.txt
  src/adu_types/src/adu_types.c
  src/adu_workflow/CMakeLists.txt
  src/communication_abstraction/CMakeLists.txt
  src/diagnostics_component/diagnostics_devicename/CMakeLists.txt
  src/diagnostics_component/diagnostics_devicename/src/diagnostics_devicename.c
  src/diagnostics_component/diagnostics_workflow/CMakeLists.txt
  src/diagnostics_component/utils/config_utils/tests/CMakeLists.txt
  src/diagnostics_component/utils/file_info_utils/CMakeLists.txt
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/CMakeLists.txt
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/tests/CMakeLists.txt
  src/extensions/step_handlers/apt_handler/tests/CMakeLists.txt
  src/extensions/step_handlers/simulator_handler/CMakeLists.txt
  src/extensions/step_handlers/simulator_handler/tests/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v2/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v2/tests/CMakeLists.txt
  src/extensions/update_manifest_handlers/steps_handler/CMakeLists.txt
  src/platform_layers/linux_platform_layer/tests/CMakeLists.txt
  src/platform_layers/simulator_platform_layer/CMakeLists.txt
  src/utils/c_utils/CMakeLists.txt
  src/utils/c_utils/tests/CMakeLists.txt
  src/utils/config_utils/CMakeLists.txt
  src/utils/eis_utils/CMakeLists.txt
  src/utils/hash_utils/tests/CMakeLists.txt
  src/utils/https_proxy_utils/CMakeLists.txt
  src/utils/https_proxy_utils/tests/CMakeLists.txt
  src/utils/path_utils/CMakeLists.txt
  src/utils/process_utils/CMakeLists.txt
  src/utils/system_utils/CMakeLists.txt
  src/utils/workflow_data_utils/CMakeLists.txt
  src/utils/workflow_utils/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Script enhancements
  scripts/build.ps1
  scripts/debug_agent.ps1
  scripts/run_uts.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

UT script update.
  scripts/run_uts.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

use TestCaseFixture ptr, not void ptr
  src/utils/system_utils/tests/system_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

debug_agent script enhancements.
  scripts/debug_agent.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fix up issues with d2c_messaging. Working on WIOT. Needs to be brought to develop.
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Took Jeff's suggestion for removing the pthread_cancel calls (#302)
  src/logging/zlog/inc/zlog-config.h
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix zlog file handle leak
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Turn d2c_messaging unit tests into functional tests and skipped by default. (#306)
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

set ret=1 upfront and ret 1 when RunAsDesiredUser returns false
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

use TestCaseFixture ptr, not void ptr (#308)
  src/utils/system_utils/tests/system_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

rmv last ret=1 straggler
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix up issues with d2c_messaging. Working on WIOT. Needs to be brought to develop. (#309)
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Script improvements.
  scripts/build.ps1
  scripts/debug_agent.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Script improvements
  scripts/build.ps1
  scripts/debug_agent.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fix installed_criteria_utils.
  src/utils/installed_criteria_utils/inc/aduc/installed_criteria_utils.hpp
  src/utils/installed_criteria_utils/src/installed_criteria_utils.cpp
  src/utils/installed_criteria_utils/tests/installed_criteria_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix installed_criteria_utils. (#312)
  src/utils/installed_criteria_utils/inc/aduc/installed_criteria_utils.hpp
  src/utils/installed_criteria_utils/src/installed_criteria_utils.cpp
  src/utils/installed_criteria_utils/tests/installed_criteria_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix build pipeline by fixing cpp-tidy errors
  src/extensions/download_handlers/download_handler_factory/src/download_handler_factory.cpp
  src/extensions/download_handlers/download_handler_plugin/src/download_handler_plugin.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix up issues with d2c_messaging. Working on WIOT. Needs to be brought to develop.
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
  src/utils/retry_utils/inc/aduc/retry_utils.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix zlog file handle leak (#310)
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

CP: Fix up issues with d2c_messaging. Working on WIOT. Needs to be brought to develop. (#314)
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
  src/utils/retry_utils/inc/aduc/retry_utils.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix build pipeline by fixing cpp-tidy errors (#313)
  src/extensions/download_handlers/download_handler_factory/src/download_handler_factory.cpp
  src/extensions/download_handlers/download_handler_plugin/src/download_handler_plugin.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

debug_agent script updates.
  scripts/debug_agent.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fix deadlock in zlog finish flush
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix string_utils. back() shouldn't be called on empty strings.
  src/utils/string_utils/inc/aduc/string_utils.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix string_utils. back() shouldn't be called on empty strings. (#316)
  src/utils/string_utils/inc/aduc/string_utils.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

log result.ResultCode instead of result on nested edge startup failure (#280)
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

remove do dep packages
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

fix install_aduc_deps
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Handle errors when download handler plugin symbol missing (#284)
  scripts/error_code_generator_defs/result_codes.json
  src/adu_workflow/src/agent_workflow.c
  src/extensions/download_handlers/download_handler_factory/CMakeLists.txt
  src/extensions/download_handlers/download_handler_factory/inc/aduc/download_handler_factory.hpp
  src/extensions/download_handlers/download_handler_factory/src/download_handler_factory.cpp
  src/extensions/download_handlers/download_handler_plugin/inc/aduc/download_handler_plugin.hpp
  src/extensions/download_handlers/download_handler_plugin/src/download_handler_plugin.cpp
  src/extensions/extension_manager/CMakeLists.txt
  src/extensions/extension_manager/inc/aduc/extension_manager_helper.hpp
  src/extensions/extension_manager/src/extension_manager.cpp
  src/extensions/extension_manager/src/extension_manager_helper.cpp
  src/extensions/shared_lib/inc/aduc/plugin_call_helper.hpp
  src/extensions/shared_lib/inc/aduc/plugin_exception.hpp
  src/inc/aduc/result.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Removed log message for retrieving connection information from connection string (#292)
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Updated doxygen version (#289)
  src/docs/Doxyfile.in
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Changed install-deps to clean up after itself (#295)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

one line fix (#297)
  docs/agent-reference/how-to-build-agent-code.md
Due: none

Fix undefined references error in adu-shell (#305)
  src/adu-shell/CMakeLists.txt
  src/adu-shell/src/aptget_tasks.cpp
  src/adu-shell/src/main.cpp
  src/utils/system_utils/src/system_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

rmv flush thread
  src/adu-shell/src/main.cpp
  src/adu_workflow/src/agent_workflow.c
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
