Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts

replace remaining adu-agent with deviceupdate-agent (#563)
  azurepipelines/e2e_test/scenarios/ubuntu-18.04-amd64/vm_setup/setup.sh
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-amd64/vm_setup/setup.sh
  daemon/deviceupdate-agent.service
  scripts/docker/templates/setup_container.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

add -l 2 and --extension-type componentEnumerator (#562)
  azurepipelines/e2e_test/scenarios/ubuntu-18.04-amd64/vm_setup/setup.sh
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-amd64/vm_setup/setup.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fixed off by one bug (#564)
  src/diagnostics_component/utils/file_info_utils/src/file_info_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Task 40205573: Allow custom compat properties to be set from the du-config instead of needing to rebuild the agent code (#559)
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/agent/adu_core_interface/src/device_properties.c
  src/agent/adu_core_interface/src/device_properties.h
  src/agent/adu_core_interface/src/startup_msg_helper.c
  src/agent/adu_core_interface/src/startup_msg_helper.h
  src/agent/pnp_helper/src/pnp_protocol.c
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_utils.c
  src/utils/config_utils/tests/config_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Added result.h generation to the cmake build configuration process instead of in build.sh (#565)
  CMakeLists.txt
  scripts/build.sh
  scripts/error_code_generator_defs/error_code_defs_generator.py
  scripts/generate_error_code_defs.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Allow IotHub transport protocol from config (#548)
  CMakeLists.txt
  azurepipelines/e2e_test/scenarios/ubuntu-18.04-amd64/vm_setup/devicesetup.py
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-amd64/vm_setup/devicesetup.py
  daemon/install.sh
  docs/agent-reference/how-to-build-agent-code.md
  packages/debian/postinst
  scripts/config-integration.sh
  scripts/docker/templates/du-config.template.json
  scripts/install-deps.sh
  src/agent/CMakeLists.txt
  src/agent/src/main.c
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_utils.c
  src/utils/config_utils/tests/config_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

add more validation in ADUC_AgentInfo_Init (#567)
  src/utils/config_utils/src/config_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Init/cleanup segfault fixes on update metadata issues (#566)
  src/utils/hash_utils/src/hash_utils.c
  src/utils/parser_utils/CMakeLists.txt
  src/utils/parser_utils/inc/aduc/parser_utils.h
  src/utils/parser_utils/src/parser_utils.c
  src/utils/parser_utils/tests/CMakeLists.txt
  src/utils/parser_utils/tests/main.cpp
  src/utils/parser_utils/tests/parser_utils_ut.cpp
  src/utils/string_utils/inc/aduc/calloc_wrapper.hpp
  src/utils/workflow_utils/src/workflow_utils.c
  src/utils/workflow_utils/tests/workflow_get_update_file_ut.cpp
  src/utils/workflow_utils/tests/workflow_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Create how-to-run-agent.md
  docs/early-access-reference-docs/how-to-run-agent.md
Due: none

Create getting-started.md
  docs/getting-started.md
Due: none

Update getting-started.md
  docs/getting-started.md
Due: none

Create how-to-group-devices.md
  docs/how-to-group-devices.md
Due: none

Update how-to-group-devices.md
  docs/how-to-group-devices.md
Due: none

Create how-to-deploy-updates.md
  docs/how-to-deploy-updates.md
Due: none

Update how-to-deploy-updates.md
  docs/how-to-deploy-updates.md
Due: none

Add files via upload
  docs/early-access-reference-docs/Delta update instructions.md
Due: none

Create device-update-diagnostics.md
  docs/early-access-reference-docs/device-update-diagnostics.md
Due: none

Create device-update-log-collection.md
  docs/early-access-reference-docs/device-update-log-collection.md
Due: none

Create device-update-agent-check.md
  docs/early-access-reference-docs/device-update-agent-check.md
Due: none

Update device-update-diagnostics.md
  docs/early-access-reference-docs/device-update-diagnostics.md
Due: none

Create early-access-artifacts
  early-access-artifacts
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Delete early-access-artifacts
  early-access-artifacts
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Rename docs/getting-started.md to docs/early-access-artifacts/early-access-reference-docs/getting-started.md
  docs/early-access-artifacts/early-access-reference-docs/getting-started.md
Due: none

Rename docs/early-access-artifacts/early-access-reference-docs/getting-started.md to docs/early-access-reference-docs/getting-started.md
  docs/early-access-reference-docs/getting-started.md
Due: none

Rename docs/how-to-deploy-updates.md to docs/early-access-reference-docs/how-to-deploy-updates.md
  docs/early-access-reference-docs/how-to-deploy-updates.md
Due: none

Rename docs/how-to-group-devices.md to docs/early-access-reference-docs/how-to-group-devices.md
  docs/early-access-reference-docs/how-to-group-devices.md
Due: none

PowerShell script to create delta update import manifest
  tools/New-ImportManifest.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Delete New-ImportManifest.ps1
  tools/New-ImportManifest.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Create delta.md
  tools/delta/delta.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Brief explanation of purpose
  tools/delta/delta.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml
