Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, licenses

Packer HCL to cross-build Debian 11 ARM64 DU Agent and .deb pkg
  tools/packer/README.md
  tools/packer/build/README.md
  tools/packer/build/duagent-build.pkr.hcl
  tools/packer/build/scripts/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

update README.md for run packer and docker container
  tools/packer/build/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

remove unused scripts dir
  tools/packer/build/scripts/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

update base dir README.md
  tools/packer/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

initial attempt getting install-deps.sh working on Rocky 9 distro / RHEL9.2
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

update readme
  tools/packer/build/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

fix CTRL key combos
  tools/packer/build/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Debian 11 ARM64 AMD64 (#517)
  azurepipelines/build/docker/adu-debian-amd64-build.yml
  azurepipelines/build/docker/adu-debian-arm32-build.yml
  azurepipelines/build/docker/adu-debian-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Removed bad find_package
  src/extensions/content_downloaders/deliveryoptimization_downloader/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fixed more type conversion pains
  src/diagnostics_component/utils/file_info_utils/inc/file_info_utils.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

still fighting type conversions
  src/diagnostics_component/utils/file_info_utils/src/file_info_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Added requirement for C++17
  cmake/agentRules.cmake
  src/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

kill any current apt and remove lock file before apt update
  azurepipelines/e2e_test/terraform/host/DeviceUpdateHost.tf
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

More sensible fix to wait for any apt[-get] procs to finish before apt update
  azurepipelines/e2e_test/terraform/host/DeviceUpdateHost.tf
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix non-host apt update to wait also
  azurepipelines/e2e_test/e2etest.yaml
  azurepipelines/e2e_test/templates/e2e_test_vm_cleanup.yaml
  azurepipelines/e2e_test/templates/e2e_vm_setup.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add back missing comma
  azurepipelines/e2e_test/terraform/host/DeviceUpdateHost.tf
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

rmv comment
  azurepipelines/e2e_test/terraform/host/DeviceUpdateHost.tf
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Wait for any apt or apt-get process to finish before doing apt update during TF vm creation (#522)
  azurepipelines/e2e_test/e2etest.yaml
  azurepipelines/e2e_test/templates/e2e_test_vm_cleanup.yaml
  azurepipelines/e2e_test/templates/e2e_vm_setup.yaml
  azurepipelines/e2e_test/terraform/host/DeviceUpdateHost.tf
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fixed build errors
  src/diagnostics_component/diagnostics_workflow/src/diagnostics_workflow.c
  src/diagnostics_component/utils/config_utils/inc/diagnostics_config_utils.h
  src/diagnostics_component/utils/config_utils/src/diagnostics_config_utils.c
  src/diagnostics_component/utils/file_info_utils/inc/file_info_utils.h
  src/diagnostics_component/utils/file_info_utils/src/file_info_utils.c
  src/platform_layers/windows_platform_layer/src/adu_core_exports.cpp
  src/utils/parson_json_utils/inc/parson_json_utils.h
  src/utils/parson_json_utils/src/parson_json_utils.c
  src/utils/workflow_utils/src/workflow_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Packer for Deb11 ARM64 docker image containing DU Agent build artifacts (#519)
  tools/packer/README.md
  tools/packer/build/README.md
  tools/packer/build/duagent-build.pkr.hcl
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Added compiler definitions to prevent unit test builds from blocking Wconversion inclusion
  src/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fixing windows conversion error that linux didn't catch
  src/utils/retry_utils/src/retry_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Changed tmp to a cmake variable for non unit-test functions
  CMakeLists.txt
  src/extensions/step_handlers/apt_handler/tests/CMakeLists.txt
  src/extensions/step_handlers/simulator_handler/CMakeLists.txt
  src/extensions/step_handlers/simulator_handler/src/simulator_handler.cpp
  src/utils/installed_criteria_utils/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

removed use in simulator since it's a sim
  src/extensions/step_handlers/apt_handler/tests/CMakeLists.txt
  src/extensions/step_handlers/simulator_handler/CMakeLists.txt
  src/extensions/step_handlers/simulator_handler/src/simulator_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Removing bad edit
  src/extensions/step_handlers/apt_handler/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add the compile time configuration location for the /tmp directory for portability (#523)
  CMakeLists.txt
  src/extensions/step_handlers/apt_handler/tests/CMakeLists.txt
  src/extensions/step_handlers/simulator_handler/CMakeLists.txt
  src/utils/installed_criteria_utils/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Remove comment in parser_utils.h Change parson_json_utils to support getting nested field.
  src/utils/parser_utils/inc/aduc/parser_utils.h
  src/utils/parson_json_utils/inc/parson_json_utils.h
  src/utils/parson_json_utils/src/parson_json_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add support for MQTTBroker connection type. When specifying MQTTBroker connection type, the connection data is a JSON object containing MQTT connection params.
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_utils.c
  src/utils/config_utils/tests/config_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

initial
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/rootkey_workflow/inc/aduc/rootkey_workflow.h
  src/rootkey_workflow/src/rootkey_workflow.c
  src/rootkey_workflow/tests/CMakeLists.txt
  src/rootkey_workflow/tests/rootkey_workflow_ut.cpp
  src/rootkey_workflow/tests/testdata/rootkey_workflow/test_rootkeypkg.json
  src/utils/jws_utils/src/jws_utils.c
  src/utils/rootkeypackage_utils/tests/CMakeLists.txt
  src/utils/rootkeypackage_utils/tests/src/rootkeypackage_utils_ut.cpp
  src/utils/rootkeypackage_utils/tests/testapp/CMakeLists.txt
  src/utils/rootkeypackage_utils/tests/testapp/README.md
  src/utils/rootkeypackage_utils/tests/testapp/src/main.cpp
  src/utils/rootkeypackage_utils/tests/testdata/rootkeypackage_utils/rootkeypackage_disabled_rootkey.json
  src/utils/rootkeypackage_utils/tests/testdata/rootkeypackage_utils/rootkeypackage_disabled_signingkey.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Moved doxyge over to modern cmake usage
  .gitignore
  src/docs/CMakeLists.txt
  src/docs/Doxyfile.in
  src/platform_layers/windows_platform_layer/src/adu_core_impl.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Adding better naming conventions
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
  src/platform_layers/windows_platform_layer/src/adu_core_impl.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Adding back bad merge removals
  azurepipelines/build/README.md
  azurepipelines/build/docker/adu-debian-amd64-build.yml
  azurepipelines/build/docker/adu-debian-arm32-build.yml
  azurepipelines/build/docker/adu-debian-arm64-build.yml
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
  azurepipelines/build/native/adu-ubuntu-arm64-build.yml
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml
  azurepipelines/build/templates/adu-docker-build-steps.yml
  azurepipelines/build/templates/adu-native-build-steps.yml
  tools/packer/build/README.md
  tools/packer/build/duagent-build.pkr.hcl
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Adding back extensions.json
  .vscode/extensions.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

upgrading version
  src/docs/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Removed external dependency abs-fuu
  scripts/install-deps.sh
  src/diagnostics_component/diagnostics_workflow/CMakeLists.txt
  src/diagnostics_component/diagnostics_workflow/src/diagnostics_workflow.c
  src/diagnostics_component/utils/CMakeLists.txt
  src/diagnostics_component/utils/file_upload_utils/CMakeLists.txt
  src/diagnostics_component/utils/file_upload_utils/inc/file_upload_utility.h
  src/diagnostics_component/utils/file_upload_utils/src/blob_storage_helper.cpp
  src/diagnostics_component/utils/file_upload_utils/src/blob_storage_helper.hpp
  src/diagnostics_component/utils/file_upload_utils/src/file_upload_utility.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml
