Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
    - template: ../templates/adu-native-build-steps.yml
  ...

Adding delta error code PDF
  tools/delta/error_code_markdown.pdf
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Editing with file locations
  docs/early-access-reference-docs/Delta update instructions.md
Due: none

Additional instruction edits
  docs/early-access-reference-docs/Delta update instructions.md
Due: none

Fixing formatting
  docs/early-access-reference-docs/Delta update instructions.md
Due: none

Bug 40632254: "SECURITY.md" and "Security.md" files in the git repo collide on Windows (#199)
  Security.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

More formatting fixes.
  docs/early-access-reference-docs/Delta update instructions.md
Due: none

Fixing link.
  docs/early-access-reference-docs/Delta update instructions.md
Due: none

Update README.md
  README.md
Due: none

Delete docs/publish-api-reference directory
  docs/publish-api-reference/delete-update.md
  docs/publish-api-reference/enumerate-files.md
  docs/publish-api-reference/enumerate-operations.md
  docs/publish-api-reference/enumerate-update-names.md
  docs/publish-api-reference/enumerate-update-providers.md
  docs/publish-api-reference/enumerate-update-versions.md
  docs/publish-api-reference/get-operation.md
  docs/publish-api-reference/get-update.md
  docs/publish-api-reference/import-update.md
Due: none

Delete docs/management-api-reference directory
  docs/management-api-reference/cancel-or-retry-deployment.md
  docs/management-api-reference/create-or-update-deployment.md
  docs/management-api-reference/delete-deployment.md
  docs/management-api-reference/get-available-device-tags.md
  docs/management-api-reference/get-deployment-details.md
  docs/management-api-reference/get-deployment-device-states.md
  docs/management-api-reference/get-deployment-devices.md
  docs/management-api-reference/get-deployment-status.md
  docs/management-api-reference/get-deployments.md
  docs/management-api-reference/get-device-class-details.md
  docs/management-api-reference/get-device-classes-for-a-device.md
  docs/management-api-reference/get-device-classes.md
  docs/management-api-reference/get-device-ids-in-device-class.md
  docs/management-api-reference/get-device-tag.md
  docs/management-api-reference/get-device.md
  docs/management-api-reference/get-devices.md
  docs/management-api-reference/get-group-best-updates.md
  docs/management-api-reference/get-group-update-compliance.md
  docs/management-api-reference/get-group.md
  docs/management-api-reference/get-groups.md
  docs/management-api-reference/get-installable-update-for-device-class.md
  docs/management-api-reference/get-update-compliance.md
  docs/management-api-reference/management-api-overview.md
Due: none

Delete how-to-run-agent.md
  docs/early-access-reference-docs/how-to-run-agent.md
Due: none

Rename docs/early-access-reference-docs/Delta update instructions.md to docs/Delta update instructions.md
  docs/Delta update instructions.md
Due: none

Rename docs/early-access-reference-docs/device-update-agent-check.md to docs/device-update-agent-check.md
  docs/device-update-agent-check.md
Due: none

Rename docs/early-access-reference-docs/device-update-diagnostics.md to docs/device-update-diagnostics.md
  docs/device-update-diagnostics.md
Due: none

Rename docs/early-access-reference-docs/how-to-deploy-updates.md to docs/how-to-deploy-updates.md
  docs/how-to-deploy-updates.md
Due: none

Rename docs/early-access-reference-docs/device-update-log-collection.md to docs/device-update-log-collection.md
  docs/device-update-log-collection.md
Due: none

Rename docs/early-access-reference-docs/how-to-group-devices.md to docs/how-to-group-devices.md
  docs/how-to-group-devices.md
Due: none

Delete getting-started.md
  docs/early-access-reference-docs/getting-started.md
Due: none

Update device-update-log-collection.md
  docs/device-update-log-collection.md
Due: none

Update how-to-group-devices.md
  docs/how-to-group-devices.md
Due: none

Update how-to-deploy-updates.md
  docs/how-to-deploy-updates.md
Due: none

Create setting-up-the-agent.md
  docs/setting-up-the-agent.md
Due: none

Update setting-up-the-agent.md
  docs/setting-up-the-agent.md
Due: none

Add files via upload
  deliveryoptimization-agent_0.7.0_amd64.deb
  deviceupdate-agent_0.9.0_Ubuntu1804_amd64.deb
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Create readme.md
  early-access-agent-artifacts/readme.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Delete deliveryoptimization-agent_0.7.0_amd64.deb
  deliveryoptimization-agent_0.7.0_amd64.deb
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Delete deviceupdate-agent_0.9.0_Ubuntu1804_amd64.deb
  deviceupdate-agent_0.9.0_Ubuntu1804_amd64.deb
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Add files via upload
  early-access-agent-artifacts/deliveryoptimization-agent_0.7.0_amd64.deb
  early-access-agent-artifacts/deviceupdate-agent_0.9.0_Ubuntu1804_amd64.deb
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Delete readme.md
  early-access-agent-artifacts/readme.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
