Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker

Added support for the AIS field gatewayHost for Nested Edge GatewayHostName (#359)
  src/utils/eis_utils/src/eis_coms.c
  src/utils/eis_utils/src/eis_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Bug 32495537: Only call deliveryoptimization_set_iot_connection_strin… (#357)
  src/adu_types/src/adu_types.c
  src/agent/src/main.c
  src/utils/c_utils/CMakeLists.txt
  src/utils/c_utils/inc/aduc/connection_string_utils.h
  src/utils/c_utils/src/connection_string_utils.c
  src/utils/c_utils/tests/CMakeLists.txt
  src/utils/c_utils/tests/connection_string_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

bundle script implementation
  tools/AduCmdlets/AduAzStorageBlobHelper.psm1
  tools/AduCmdlets/AduImportUpdate.psm1
  tools/AduCmdlets/AduRestApi.psm1
  tools/AduCmdlets/AduUpdate.psm1
  tools/AduCmdlets/ImportSampleBundleUpdate.ps1
  tools/AduCmdlets/README-PowerShell.md
  tools/AduCmdlets/README-bash.md
  tools/AduCmdlets/README.md
Due: azurepipelines/adu-ubuntu-arm64-build.yml

update readme.md
  tools/AduCmdlets/README.md
Due: azurepipelines/adu-ubuntu-arm64-build.yml

remove commented out code
  tools/AduCmdlets/AduImportUpdate.psm1
Due: azurepipelines/adu-ubuntu-arm64-build.yml

Fix 26 of 31 static analysis warnings for linux + apt (#360)
  src/adu-shell/src/aptget_tasks.cpp
  src/adu-shell/src/common_tasks.cpp
  src/agent/adu_core_interface/src/startup_msg_helper.c
  src/content_handlers/apt_handler/src/apt_handler.cpp
  src/content_handlers/apt_handler/tests/apt_handler_ut.cpp
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.cpp
  src/platform_layers/linux_platform_layer/tests/download_ut.cpp
  src/utils/c_utils/tests/c_utils_ut.cpp
  src/utils/c_utils/tests/connection_string_utils_ut.cpp
  src/utils/process_utils/test_helper/main.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Bug 30080355: flow chart in agent_workflow.c should be moved to architecture markdown file (#361)
  docs/publish-api-reference/delete-update.md
  docs/publish-api-reference/enumerate-files.md
  docs/publish-api-reference/enumerate-operations.md
  docs/publish-api-reference/enumerate-update-names.md
  docs/publish-api-reference/enumerate-update-providers.md
  docs/publish-api-reference/enumerate-update-versions.md
  docs/publish-api-reference/get-operation.md
  docs/publish-api-reference/get-update.md
  docs/publish-api-reference/import-update.md
  src/agent/adu_core_interface/src/agent_workflow.c
  src/content_handlers/apt_handler/src/apt_parser.cpp
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

PowerShell cmdlet for calling ADU Import Update REST API (#362)
  tools/AduCmdlets/AduAzStorageBlobHelper.psm1
  tools/AduCmdlets/AduImportUpdate.psm1
  tools/AduCmdlets/AduRestApi.psm1
  tools/AduCmdlets/AduUpdate.psm1
  tools/AduCmdlets/ImportSampleBundleUpdate.ps1
  tools/AduCmdlets/README-PowerShell.md
  tools/AduCmdlets/README-bash.md
  tools/AduCmdlets/README.md
Due: azurepipelines/adu-ubuntu-arm64-build.yml

Task 32764125: MCU configuration manager (#355)
  CMakeLists.txt
  src/agent/CMakeLists.txt
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/adu_core_interface/src/adu_core_json.c
  src/agent/adu_core_interface/src/startup_msg_helper.c
  src/agent/src/health_management.c
  src/agent/src/main.c
  src/platform_layers/linux_platform_layer/CMakeLists.txt
  src/platform_layers/linux_platform_layer/src/linux_device_info_exports.cpp
  src/utils/CMakeLists.txt
  src/utils/config_utils/CMakeLists.txt
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_parsefile.c
  src/utils/config_utils/src/config_utils.c
  src/utils/config_utils/tests/CMakeLists.txt
  src/utils/config_utils/tests/config_utils_ut.cpp
  src/utils/config_utils/tests/main.cpp
  src/utils/parson_json_utils/CMakeLists.txt
  src/utils/parson_json_utils/inc/parson_json_utils.h
  src/utils/parson_json_utils/src/parson_json_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

ADU PS Cmdlet: Support custom compatibility properties (#364)
  tools/AduCmdlets/AduImportUpdate.psm1
  tools/AduCmdlets/AduUpdate.psm1
Due: azurepipelines/adu-ubuntu-arm64-build.yml

Task 33623778: Migration Script for configuration file (#363)
  scripts/config-integration.sh
Due: azurepipelines/adu-ubuntu-arm64-build.yml

Bug 31330755: Security: adu-shell should exit if launched by user oth… (#366)
  CMakeLists.txt
  src/adu-shell/CMakeLists.txt
  src/adu-shell/src/main.cpp
  src/utils/process_utils/inc/aduc/process_utils.hpp
  src/utils/process_utils/src/process_utils.cpp
  src/utils/process_utils/tests/process_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

fix passing in the wrong var (#369)
  tools/AduCmdlets/AduRestApi.psm1
Due: azurepipelines/adu-ubuntu-arm64-build.yml

add isdeployable (#367)
  tools/AduCmdlets/AduImportUpdate.psm1
  tools/AduCmdlets/AduUpdate.psm1
  tools/AduCmdlets/ImportSampleBundleUpdate.ps1
Due: azurepipelines/adu-ubuntu-arm64-build.yml

Task 32764125 patch: fix cppcheck/clang-tidy warning (#370)
  src/agent/src/main.c
  src/platform_layers/linux_platform_layer/src/linux_device_info_exports.cpp
  src/utils/parson_json_utils/src/parson_json_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

fix bug on aduc_deps (#371)
  scripts/install-deps.sh
Due: azurepipelines/adu-ubuntu-arm64-build.yml

Bug 33684147: zlog stops flushing to file after first roll of logs (#372)
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

add executable permissions to two scripts (#373)
  scripts/adu-diag.sh
  scripts/config-integration.sh
Due: azurepipelines/adu-ubuntu-arm64-build.yml

User/jw msft/healthcheck permissions (#375)
  CMakeLists.txt
  packages/debian/postinst
  src/agent/CMakeLists.txt
  src/agent/src/health_management.c
  src/agent/src/main.c
  src/utils/CMakeLists.txt
  src/utils/c_utils/CMakeLists.txt
  src/utils/c_utils/inc/aduc/bit_ops.h
  src/utils/c_utils/inc/aduc/c_utils.h
  src/utils/c_utils/src/bit_ops.c
  src/utils/permission_utils/CMakeLists.txt
  src/utils/permission_utils/inc/aduc/permission_utils.h
  src/utils/permission_utils/src/permission_utils.c
  src/utils/permission_utils/tests/CMakeLists.txt
  src/utils/permission_utils/tests/main.cpp
  src/utils/permission_utils/tests/permission_utils_ut.cpp
  src/utils/system_utils/inc/aduc/system_utils.h
  src/utils/system_utils/src/system_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Bug 33462286 Agent Simulation-Specific cmdline args fail with unrecog… (#379)
  docs/agent-reference/how-to-run-agent.md
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Bug 33794756: Simulator + APT unit tests failing and need to run them in pipeline (#381)
  azurepipelines/adu-ubuntu-amd64-build.yml
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/adu_core_interface/tests/adu_core_export_helpers_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fix memory leak in ADUC
  src/agent/adu_core_interface/src/adu_core_json.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Support conflicting file names (#378)
  tools/AduCmdlets/AduAzStorageBlobHelper.psm1
  tools/AduCmdlets/AduImportUpdate.psm1
Due: azurepipelines/adu-ubuntu-arm64-build.yml

usebasicparsing (#382)
  tools/AduCmdlets/AduRestApi.psm1
Due: azurepipelines/adu-ubuntu-arm64-build.yml

Bug 31299212: Need to include our license in our Debian packages (#376)
  LICENSE
  packages/debian/copyright
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

PVControl Content Handler
  CMakeLists.txt
  docs/pvcontrol-reference/overview.md
  docs/pvcontrol-reference/pvcontrol-handler.md
  docs/pvcontrol-reference/pvr2adu.md
  scripts/install-deps.sh
  src/adu-shell/CMakeLists.txt
  src/adu-shell/inc/adushell_action.hpp
  src/adu-shell/inc/adushell_const.hpp
  src/adu-shell/inc/pvcontrol_tasks.hpp
  src/adu-shell/src/adushell_action.cpp
  src/adu-shell/src/main.cpp
  src/adu-shell/src/pvcontrol_tasks.cpp
  src/agent/CMakeLists.txt
  src/content_handlers/CMakeLists.txt
  src/content_handlers/inc/aduc/handler_function_map.hpp
  src/content_handlers/pvcontrol_handler/CMakeLists.txt
  src/content_handlers/pvcontrol_handler/inc/aduc/pvcontrol_handler.hpp
  src/content_handlers/pvcontrol_handler/inc/aduc/pvcontrol_simulator_handler.hpp
  src/content_handlers/pvcontrol_handler/src/pvcontrol_handler.cpp
  src/content_handlers/pvcontrol_handler/src/pvcontrol_simulator_handler.cpp
  src/content_handlers/pvcontrol_handler/tests/CMakeLists.txt
  src/content_handlers/pvcontrol_handler/tests/main.cpp
  src/content_handlers/pvcontrol_handler/tests/pvcontrol_simulator_handler_ut.cpp
  src/inc/aduc/result.h
  tools/pvr2adu
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Bug 33955843: Add Adu shell trusted User permission check (#380)
  src/adu-shell/CMakeLists.txt
  src/adu-shell/src/main.cpp
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_utils.c
  src/utils/process_utils/CMakeLists.txt
  src/utils/process_utils/inc/aduc/process_utils.hpp
  src/utils/process_utils/src/process_utils.cpp
  src/utils/process_utils/tests/process_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Removing all publish '.md' files
  docs/publish-api-reference/delete-update.md
  docs/publish-api-reference/enumerate-files.md
  docs/publish-api-reference/enumerate-operations.md
  docs/publish-api-reference/enumerate-update-names.md
  docs/publish-api-reference/enumerate-update-providers.md
  docs/publish-api-reference/enumerate-update-versions.md
  docs/publish-api-reference/get-file-details.md
  docs/publish-api-reference/get-operation.md
  docs/publish-api-reference/get-update.md
  docs/publish-api-reference/import-api-overview.md
  docs/publish-api-reference/import-update.md
Due: none

change version from 0.7.0-public-preview to 0.8.0-rc1-public-preview
  CMakeLists.txt
  azurepipelines/adu-debian-arm32-build.yml
  azurepipelines/adu-ubuntu-amd64-build.yml
  azurepipelines/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

install DO deps with v0.7.0
  licenses/cgmanifest.json
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

PVControl Content Handler (#81)
  CMakeLists.txt
  docs/pvcontrol-reference/overview.md
  docs/pvcontrol-reference/pvcontrol-handler.md
  docs/pvcontrol-reference/pvr2adu.md
  scripts/install-deps.sh
  src/adu-shell/CMakeLists.txt
  src/adu-shell/inc/adushell_action.hpp
  src/adu-shell/inc/adushell_const.hpp
  src/adu-shell/inc/pvcontrol_tasks.hpp
  src/adu-shell/src/adushell_action.cpp
  src/adu-shell/src/main.cpp
  src/adu-shell/src/pvcontrol_tasks.cpp
  src/agent/CMakeLists.txt
  src/content_handlers/CMakeLists.txt
  src/content_handlers/inc/aduc/handler_function_map.hpp
  src/content_handlers/pvcontrol_handler/CMakeLists.txt
  src/content_handlers/pvcontrol_handler/inc/aduc/pvcontrol_handler.hpp
  src/content_handlers/pvcontrol_handler/inc/aduc/pvcontrol_simulator_handler.hpp
  src/content_handlers/pvcontrol_handler/src/pvcontrol_handler.cpp
  src/content_handlers/pvcontrol_handler/src/pvcontrol_simulator_handler.cpp
  src/content_handlers/pvcontrol_handler/tests/CMakeLists.txt
  src/content_handlers/pvcontrol_handler/tests/main.cpp
  src/content_handlers/pvcontrol_handler/tests/pvcontrol_simulator_handler_ut.cpp
  src/inc/aduc/result.h
  tools/pvr2adu
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

arm32 build azr
  azurepipelines/adu-debian-arm32-build.yml
  azurepipelines/adu-ubuntu-amd64-build.yml
  azurepipelines/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

modify both yamls
  azurepipelines/adu-debian-arm32-build.yml
  azurepipelines/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

add back static analysis
  azurepipelines/adu-debian-arm32-build.yml
  azurepipelines/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

add comments
  azurepipelines/adu-debian-arm32-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Task 34732610: (agent build) Pipeline Migration to 1ES (#89)
  azurepipelines/adu-debian-arm32-build.yml
  azurepipelines/adu-ubuntu-amd64-build.yml
  azurepipelines/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

modify amd64 yml
  azurepipelines/adu-ubuntu-amd64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Merging changes from public branch (#384)
  CMakeLists.txt
  CONTRIBUTING.md
  SUPPORT.md
  azurepipelines/adu-debian-arm32-build.yml
  azurepipelines/adu-ubuntu-amd64-build.yml
  azurepipelines/adu-ubuntu-arm64-build.yml
  docs/agent-reference/how-to-build-agent-code.md
  docs/agent-reference/how-to-modify-the-agent-code.md
  docs/agent-reference/how-to-run-agent.md
  docs/agent-reference/images/agent-architecture.png
  docs/agent-reference/images/apply-phase.png
  docs/agent-reference/images/download-phase.png
  docs/agent-reference/images/install-phase.png
  docs/publish-api-reference/get-file-details.md
  docs/publish-api-reference/import-api-overview.md
  licenses/cgmanifest.json
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Task 35678299 Add CompatPropertyNames to startupmsg (#387)
  scripts/config-integration.sh
  src/adu_types/inc/aduc/types/update_content.h
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/agent/adu_core_interface/src/startup_msg_helper.c
  src/agent/adu_core_interface/src/startup_msg_helper.h
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_utils.c
  src/utils/config_utils/tests/config_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml
