Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/docker/adu-debian-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/docker/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: 1es_hosted_pool_windows
        os: windows
      sdl:
        sourceAnalysisPool:
          name: 1es_hosted_pool_windows
          os: windows
        suppression:
  ...

Document update - landing page, improve build instrcution, improve reading flow
  README.md
  docs/agent-reference/README.md
  docs/agent-reference/how-to-build-agent-code.md
  docs/diagnostics-log-collection.md
Due: none

Add Release 1.2.0 changelog entry
  CHANGELOG.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Add Release 1.3.0-rc1 changelog entry
  CHANGELOG.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update documentation for 1.3.0-rc1 release
  docs/agent-reference/README.md
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/configuration-guide.md
  docs/agent-reference/how-to-install-deb-pkg-on-rpi.md
  docs/agent-reference/quick-start.md
  docs/how-to-troubleshoot-guide.md
Due: none

Fix documentation coherence issues
  .build-error-logs/ubuntu2204-build-error.log
  docs/agent-reference/README.md
  docs/agent-reference/how-to-implement-custom-update-handler.md
  docs/agent-reference/how-to-modify-the-agent-code.md
  docs/agent-reference/how-to-run-agent.md
  docs/agent-reference/how-to-x509-authentication.md
  docs/agent-reference/quick-start.md
  docs/agent-reference/update-manifest-v4-schema.md
  docs/how-to-troubleshoot-guide.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix merge-damaged test files and improve curl downloader
  src/adu-shell/tests/adushell_ut.cpp
  src/adu_workflow/tests/agent_workflow_ut.cpp
  src/diagnostics_component/diagnostics_devicename/tests/diagnostics_devicename_ut.cpp
  src/diagnostics_component/utils/operation_id_utils/tests/operation_id_utils_ut.cpp
  src/extensions/step_handlers/swupdate_handler_v2/inc/aduc/swupdate_handler_result_codes.h
  src/inc/aduc/result.h
  src/inc/aduc/swupdate_handler_result_codes.h
  src/utils/config_utils/tests/config_utils_ut.cpp
  src/utils/system_utils/tests/system_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add connect-timeout and diagnostic logging to curl downloader
  src/utils/rootkeypackage_utils/src/rootkeypackage_curl_download.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix delta library build failure on Debian 13 and Ubuntu 24.04
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Enable Ubuntu 24.04 LTS support with GCC 13 compatibility (#802)
  .github/workflows/docker-build.yml
  .gitignore
  CMakeLists.txt
  README.md
  cmake/agentRules.cmake
  docs/agent-reference/how-to-build-agent-code.md
  packages/CMakeLists.txt
  packages/debian/postinst
  scripts/build.sh
  scripts/install-deps.sh
  scripts/patches/azure-storage-sdk-base64-cstdint.patch
  src/extensions/content_downloaders/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

temporary fix: build delta-update with gcc/g++ 10
  scripts/install-deps.sh
  scripts/sh-format.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix group memberships
  packages/debian/postinst
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix(install-deps): generate bsdiff.pc and export linker paths for delta build
  CHANGELOG.md
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/configuration-guide.md
  docs/agent-reference/how-to-x509-authentication.md
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix delta library static linking errors and add dependency caching
  .github/workflows/docker-build.yml
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

make choice
  packages/CMakeLists.txt
  packages/debian/config
  packages/debian/postinst
  packages/debian/templates
  scripts/build.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

make choice multiline
  packages/debian/templates
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

back to defaults
  packages/debian/templates
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

default curl
  packages/debian/config
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix shellcheck warnings across all shell scripts
  scripts/install-deps.sh
  scripts/sh-format.sh
  src/adu-shell/scripts/adu-reboot-wrapper.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

content downloader message
  packages/debian/postinst
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix shellcheck warnings across all shell scripts (#840)
  scripts/install-deps.sh
  scripts/sh-format.sh
  src/adu-shell/scripts/adu-reboot-wrapper.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

support armhf
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: Fix CMAKE in rootkey workflow
  src/rootkey_workflow/CMakeLists.txt
  src/rootkey_workflow/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: Fix CMAKE in rootkey workflow (#842)
  src/rootkey_workflow/CMakeLists.txt
  src/rootkey_workflow/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: Fix double-free in logging library
  src/logging/zlog/src/init.c
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: Fix segmentation fault
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: Fix leaking FIFO in unit test
  src/agent/command_helper/tests/command_helper_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

arm64
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

remove arm32 buid
  .github/workflows/docker-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: Fix segmentation fault (#844)
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: Fix double-free in logging library (#843)
  src/logging/zlog/src/init.c
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

feat: ARM 32 compatibilty fixes (#841)
  .gitignore
  CMakeLists.txt
  cmake/aduc_helpers.cmake
  scripts/install-deps.sh
  src/utils/extension_utils/src/extension_utils.c
  src/utils/extension_utils/tests/CMakeLists.txt
  src/utils/extension_utils/tests/extension_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: Fix Curl downloader default (#839)
  packages/CMakeLists.txt
  packages/debian/config
  packages/debian/postinst
  packages/debian/templates
  scripts/build.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

small script fix
  src/adu-shell/scripts/adu-reboot-wrapper.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

shell fix
  .gitignore
  src/adu-shell/scripts/adu-reboot-wrapper.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: Make DO a suggestion when built with DO support
  packages/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

don't break
  packages/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

doc
  scripts/build.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

exclued cmakefiles fom coverage
  scripts/run_coverage.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix another bug
  scripts/run_coverage.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: Fix coverage issues
  scripts/run_coverage.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/docker/adu-debian-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/docker/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: daemon, docker, docs, licenses, tools, **/*.md
