Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts

Change aducpal not to have method signature. This allows fucntion references.
  src/libaducpal/inc/aducpal/dirent.h
  src/libaducpal/inc/aducpal/dlfcn.h
  src/libaducpal/inc/aducpal/ftw.h
  src/libaducpal/inc/aducpal/grp.h
  src/libaducpal/inc/aducpal/pwd.h
  src/libaducpal/inc/aducpal/signal.h
  src/libaducpal/inc/aducpal/stdio.h
  src/libaducpal/inc/aducpal/stdlib.h
  src/libaducpal/inc/aducpal/strings.h
  src/libaducpal/inc/aducpal/sys_stat.h
  src/libaducpal/inc/aducpal/sys_statvfs.h
  src/libaducpal/inc/aducpal/sys_sysinfo.h
  src/libaducpal/inc/aducpal/sys_time.h
  src/libaducpal/inc/aducpal/sys_utsname.h
  src/libaducpal/inc/aducpal/time.h
  src/libaducpal/inc/aducpal/unistd.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Incrementing versions
  CMakeLists.txt
  azurepipelines/build/docker/adu-debian-amd64-build.yml
  azurepipelines/build/docker/adu-debian-arm32-build.yml
  azurepipelines/build/docker/adu-debian-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

script file
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-arm64/Bundle-update.py
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-arm64/Multi-Component-Update.py
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-arm64/add_device_to_adu_group.py
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-arm64/apt_deployment.py
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-arm64/delete_device.py
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-arm64/diagnostics.py
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-arm64/scenario_definitions.py
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-arm64/vm_setup/devicesetup.py
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-arm64/vm_setup/setup.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Incrementing ubuntu versions
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
  azurepipelines/build/native/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Move to using use_edge_modules for vcpkg parity.
  cmake/agentRules.cmake
  scripts/install-deps.sh
  src/communication_abstraction/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Move to using use_edge_modules for vcpkg parity. (#370)
  cmake/agentRules.cmake
  scripts/install-deps.sh
  src/communication_abstraction/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove more TODO
  scripts/build.ps1
  src/adu-shell/src/main.cpp
  src/agent/src/main.c
  src/diagnostics_component/diagnostics_workflow/src/diagnostics_workflow.c
  src/extensions/step_handlers/wiot_handler/src/step_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix up link path, remove target_link_libraries_find
  CMakeLists.txt
  cmake/agentRules.cmake
  src/agent/CMakeLists.txt
  src/communication_abstraction/CMakeLists.txt
  src/platform_layers/linux_platform_layer/tests/CMakeLists.txt
  src/utils/eis_utils/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Add static analysis tools.
  scripts/build.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Clean up build.ps1
  scripts/build.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

PAL cleanup
  src/adu-shell/src/main.cpp
  src/libaducpal/src/ftw.c
  src/libaducpal/src/time.c
  src/libaducpal/src/unistd.c
  src/utils/process_utils/tests/process_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove sleep; Clean up d2c_messaging_ut nanosleep calls.
  src/libaducpal/inc/aducpal/unistd.h
  src/libaducpal/src/time.c
  src/libaducpal/src/unistd.c
  src/platform_layers/linux_platform_layer/CMakeLists.txt
  src/platform_layers/linux_platform_layer/src/linux_device_info_exports.cpp
  src/platform_layers/linux_platform_layer/src/os_release_info.hpp
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
  src/utils/retry_utils/inc/aduc/retry_utils.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Set second field in time structure.
  src/libaducpal/src/time.c
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove sleep; Clean up d2c_messaging_ut nanosleep calls. (#371)
  src/libaducpal/inc/aducpal/unistd.h
  src/libaducpal/src/time.c
  src/libaducpal/src/unistd.c
  src/platform_layers/linux_platform_layer/CMakeLists.txt
  src/platform_layers/linux_platform_layer/src/linux_device_info_exports.cpp
  src/platform_layers/linux_platform_layer/src/os_release_info.hpp
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
  src/utils/retry_utils/inc/aduc/retry_utils.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Create system_utils replacement for mkstemp, remove related aducpal apis.
  src/adu-shell/inc/adushell.hpp
  src/libaducpal/inc/aducpal/stdlib.h
  src/libaducpal/inc/aducpal/unistd.h
  src/libaducpal/src/stdlib.c
  src/libaducpal/src/time.c
  src/libaducpal/src/unistd.c
  src/utils/c_utils/tests/CMakeLists.txt
  src/utils/c_utils/tests/c_utils_ut.cpp
  src/utils/hash_utils/tests/CMakeLists.txt
  src/utils/hash_utils/tests/hash_utils_ut.cpp
  src/utils/permission_utils/tests/CMakeLists.txt
  src/utils/permission_utils/tests/permission_utils_ut.cpp
  src/utils/system_utils/inc/aduc/system_utils.h
  src/utils/system_utils/src/system_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Linux fixup
  src/utils/system_utils/src/system_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove unrelated file.
  src/adu-shell/inc/adushell.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

remove mkstemp, replace with system utils method. remove related aducpal apis. (#372)
  src/libaducpal/inc/aducpal/stdlib.h
  src/libaducpal/inc/aducpal/unistd.h
  src/libaducpal/src/stdlib.c
  src/libaducpal/src/time.c
  src/libaducpal/src/unistd.c
  src/utils/c_utils/tests/CMakeLists.txt
  src/utils/c_utils/tests/c_utils_ut.cpp
  src/utils/hash_utils/tests/CMakeLists.txt
  src/utils/hash_utils/tests/hash_utils_ut.cpp
  src/utils/permission_utils/tests/CMakeLists.txt
  src/utils/permission_utils/tests/permission_utils_ut.cpp
  src/utils/system_utils/inc/aduc/system_utils.h
  src/utils/system_utils/src/system_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove static analysis tools. They don't work well on Windows.
  scripts/build.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fix bug where swupdate handler v2 doesn't reboot or restart the agent correctly.
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Improve SWUpdate handler v2 example A/B update script
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/payloads/example-a-b-update.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Handle reboot/restart request for install or apply action separately
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix typo
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/payloads/example-a-b-update.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Incrementing versions from patch 1.0.1 to patch 1.0.2 (#369)
  CMakeLists.txt
  azurepipelines/build/docker/adu-debian-amd64-build.yml
  azurepipelines/build/docker/adu-debian-arm32-build.yml
  azurepipelines/build/docker/adu-debian-arm64-build.yml
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
  azurepipelines/build/native/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix SWUpdate handler V2 device reboot and agent restart issue. (#373)
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/payloads/example-a-b-update.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

remove() should be used for files, and rmdir() for directories , so unlink should be removed.
  src/libaducpal/inc/aducpal/stdio.h
  src/libaducpal/inc/aducpal/unistd.h
  src/libaducpal/src/stdio.c
  src/libaducpal/src/unistd.c
  src/utils/permission_utils/tests/permission_utils_ut.cpp
  src/utils/system_utils/inc/aduc/system_utils.h
  src/utils/system_utils/src/system_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

set default do ref to main
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

set default do ref to develop
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

DO v1.0.1
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Set default DO ref to main (#374)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

remove version.build
  azurepipelines/build/native/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

resolve conflicts
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/src/source_update_cache_utils.c
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Templatizing e2e stages
  azurepipelines/e2e_test/e2etest.yaml
  azurepipelines/e2e_test/templates/e2e_test_run.yaml
  azurepipelines/e2e_test/templates/e2e_test_vm_cleanup.yaml
  azurepipelines/e2e_test/templates/e2e_vm_setup.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fixed missing image offer
  azurepipelines/e2e_test/e2etest.yaml
  azurepipelines/e2e_test/templates/e2e_vm_setup.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Stage name changes
  azurepipelines/e2e_test/e2etest.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Removing other invalid names
  azurepipelines/e2e_test/e2etest.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Changing scenario path to a parameter verses matrixed value
  azurepipelines/e2e_test/templates/e2e_test_run.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fixed incorrect distroname
  azurepipelines/e2e_test/templates/e2e_test_run.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Create how-to-install-deb-pkg-on-rpi.md
  docs/agent-reference/how-to-install-deb-pkg-on-rpi.md
Due: none
