Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/docker/adu-debian-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/docker/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: 1es_hosted_pool_windows
        os: windows
      sdl:
        sourceAnalysisPool:
          name: 1es_hosted_pool_windows
          os: windows
        suppression:
  ...

Create requirements.txt
  .github/tools/requirements.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Create README.md
  .github/tools/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Add devcontainer with Debian 11.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/launch.json
  .vscode/settings.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix #737 wrong pointer.
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix documentation links.
  src/extensions/update_manifest_handlers/steps_handler/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove broken Debian 10 build, reached end of life in June 30, 2024
  .github/workflows/docker-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Disable fail-fast so we can see result of build in other OS.
  .github/workflows/docker-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Update x509 doc
  docs/agent-reference/how-to-x509-authentication.md
  docs/agent-reference/x509-demo/demo-setup.sh
  docs/agent-reference/x509-demo/test-device-twin.sh
Due: none

Add X.509 demo script with device-specific naming and DU config generation
  docs/agent-reference/x509-demo/demo-setup.sh
Due: none

Fixed shellcheck error
  docs/agent-reference/x509-demo/demo-setup.sh
Due: none

docs: add comprehensive X.509 testing framework with dependency management
  docs/agent-reference/how-to-x509-authentication.md
  docs/agent-reference/x509-demo/demo-setup.sh
Due: none

fix: resolve sign-conversion warnings in command_helper and hash_utils
  src/agent/command_helper/src/command_helper.c
  src/utils/hash_utils/src/hash_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

feat: enhance X.509 authentication with dual certificates and mandatory IoT Hub validation
  CMakeLists.txt
  docs/agent-reference/how-to-x509-authentication.md
  docs/agent-reference/x509-demo/demo-setup.sh
  docs/agent-reference/x509-demo/test-device-twin.sh
  scripts/config-integration.sh
  src/agent/src/main.c
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

- Add comprehensive parameter change detection and connection testing - Fix output hub hostname
  docs/agent-reference/x509-demo/demo-setup.sh
Due: none

Update x509 demo script and document Remove test-device-twin.sh
  docs/agent-reference/how-to-x509-authentication.md
  docs/agent-reference/x509-demo/test-device-twin.sh
  docs/agent-reference/x509-demo/x509-demo.sh
Due: none

Add prelim doc for GetAduServiceStatus API
  docs/agent-reference/GetAduServiceStatus.md
Due: none

Add ADUC_ServiceStatus_Pausing
  docs/agent-reference/GetAduServiceStatus.md
Due: none

Update description of command handler and view state manager
  docs/agent-reference/GetAduServiceStatus.md
Due: none

Add packaging, pkgcfg, versioning, ipc sections
  docs/agent-reference/GetAduServiceStatus.md
Due: none

update diagrams to include Paused state
  docs/agent-reference/GetAduServiceStatus.md
Due: none

fix so lib name i state flow diagram
  docs/agent-reference/GetAduServiceStatus.md
Due: none

add GET_STATE and GET_VERSION FIFO API commands
  src/agent/command_helper/src/command_helper.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

initial viewstate store
  src/agent/command_helper/src/command_helper.c
  src/sdk/inc/aduc/aducsdk.h
  src/viewstate_store/CMakeLists.txt
  src/viewstate_store/inc/aduc/viewstate_store.h
  src/viewstate_store/src/viewstate_store.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fixes
  src/agent/command_helper/src/command_helper.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

more fixes
  src/CMakeLists.txt
  src/agent/command_helper/src/command_helper.c
  src/utils/hash_utils/src/hash_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add apisvc and revert chg in cmdhelper
  CMakeLists.txt
  scripts/error_code_generator_defs/result_codes.json
  src/CMakeLists.txt
  src/agent/CMakeLists.txt
  src/agent/api/CMakeLists.txt
  src/agent/api/inc/aduc/apisvc.h
  src/agent/api/inc/aduc/apisvc_internal.h
  src/agent/api/src/apisvc.c
  src/agent/command_helper/src/command_helper.c
  src/inc/aduc/result.h
  src/sdk/inc/aduc/aducsdk.h
  src/viewstate_store/CMakeLists.txt
  src/viewstate_store/inc/aduc/viewstate_store.h
  src/viewstate_store/src/viewstate_store.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

initprs
  src/agent/api/inc/aduc/apisvc_parse.h
  src/agent/api/src/apisvc.c
  src/agent/api/src/apisvc_parse.c
  src/agent/command_helper/src/command_helper.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix line commented by mistake.
  src/utils/d2c_messaging/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Remove unneeded import.
  src/rootkey_workflow/tests/main.cpp
  src/utils/config_utils/tests/main.cpp
  src/utils/eis_utils/tests/main.cpp
  src/utils/root_key_utils/tests/main.cpp
  src/utils/workflow_utils/tests/main.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix warnings and add test for ADUC_HashUtils_GetIndexStrongestValidHash
  src/agent/command_helper/src/command_helper.c
  src/utils/hash_utils/inc/aduc/hash_utils.h
  src/utils/hash_utils/src/hash_utils.c
  src/utils/hash_utils/tests/hash_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add empty line.
  src/utils/hash_utils/tests/hash_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add fifo apisvc and simplify vwstate for now
  scripts/error_code_generator_defs/result_codes.json
  src/CMakeLists.txt
  src/agent/CMakeLists.txt
  src/agent/api/CMakeLists.txt
  src/agent/api/inc/aduc/apiproto.h
  src/agent/api/inc/aduc/apisvc.h
  src/agent/api/inc/aduc/apisvc_internal.h
  src/agent/api/inc/aduc/apisvc_parse.h
  src/agent/api/src/apiproto.c
  src/agent/api/src/apisvc.c
  src/agent/api/src/apisvc_parse.c
  src/agent/src/main.c
  src/inc/aduc/result.h
  src/sdk/CMakeLists.txt
  src/sdk/inc/aduc/aducsdk.h
  src/viewstate_store/inc/aduc/viewstate_store.h
  src/viewstate_store/src/viewstate_store.c
  src/viewstatemgr/CMakeLists.txt
  src/viewstatemgr/inc/aduc/viewstatemgr.h
  src/viewstatemgr/src/viewstatemgr.c
  src/viewstatemgr/tests/CMakeLists.txt
  src/viewstatemgr/tests/viewstatemgr_unit_tests.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

tweak fifo path
  CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fifopath fr ducfg and fifo impl
  CMakeLists.txt
  docs/agent-reference/GetAduServiceStatus.md
  scripts/error_code_generator_defs/result_codes.json
  src/agent/api/CMakeLists.txt
  src/agent/api/inc/aduc/apiproto.h
  src/agent/api/inc/aduc/apisvc.h
  src/agent/api/src/apiproto.c
  src/agent/api/src/apisvc.c
  src/agent/api/tests/CMakeLists.txt
  src/agent/api/tests/apisvc_unit_tests.cpp
  src/inc/aduc/result.h
  src/sdk/inc/aduc/aducsdk.h
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_utils.c
  src/viewstatemgr/src/viewstatemgr.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add apisvc get_state crossproc api
  CMakeLists.txt
  docs/agent-reference/GetAduServiceStatus.md
  scripts/error_code_generator_defs/result_codes.json
  src/CMakeLists.txt
  src/agent/CMakeLists.txt
  src/agent/api/CMakeLists.txt
  src/agent/api/inc/aduc/apiproto.h
  src/agent/api/inc/aduc/apisvc.h
  src/agent/api/src/apiproto.c
  src/agent/api/src/apisvc.c
  src/agent/api/tests/CMakeLists.txt
  src/agent/api/tests/apisvc_unit_tests.cpp
  src/agent/command_helper/src/command_helper.c
  src/agent/src/main.c
  src/inc/aduc/result.h
  src/sdk/CMakeLists.txt
  src/sdk/inc/aduc/aducsdk.h
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_utils.c
  src/utils/hash_utils/src/hash_utils.c
  src/viewstatemgr/CMakeLists.txt
  src/viewstatemgr/inc/aduc/viewstatemgr.h
  src/viewstatemgr/src/viewstatemgr.c
  src/viewstatemgr/tests/CMakeLists.txt
  src/viewstatemgr/tests/viewstatemgr_unit_tests.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add utils timer
  src/utils/CMakeLists.txt
  src/utils/timer_utils/CMakeLists.txt
  src/utils/timer_utils/inc/aduc/timer.h
  src/utils/timer_utils/src/timer.c
  src/utils/timer_utils/tests/CMakeLists.txt
  src/utils/timer_utils/tests/timer_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add idlePauseMilliseconds config
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_utils.c
  src/utils/config_utils/tests/config_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

do not include self
  src/adu_types/inc/aduc/types/workflow.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

start pause timer on idle and update in doWork
  src/adu_workflow/CMakeLists.txt
  src/adu_workflow/src/agent_workflow.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

viewstatemgr and idle pause integration
  src/adu_workflow/CMakeLists.txt
  src/adu_workflow/inc/aduc/agent_workflow.h
  src/adu_workflow/src/agent_workflow.c
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/agent/api/tests/apisvc_unit_tests.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/docker/adu-debian-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/docker/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: daemon, docker, docs, licenses, tools, **/*.md
