Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/docker/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: 1es_hosted_pool_windows
        os: windows
      sdl:
        sourceAnalysisPool:
          name: 1es_hosted_pool_windows
          os: windows
        suppression:
  ...

Used changed ownership pattern instead of wonka world logic
  src/utils/workflow_utils/src/workflow_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fixing bad logging command
  src/utils/workflow_utils/src/workflow_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Added exit handler to ensure no double free in workflow_get_workfolder when parent workfolder is used (#596)
  src/utils/workflow_utils/src/workflow_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

use compatProperties from config file
  src/extensions/agent_modules/cloud_communication/eg_mqtt_broker_client/src/agentinfo_request_operation.c
  src/extensions/agent_modules/cloud_communication/iothub_client/adu_core_interface/src/startup_msg_helper.c
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_utils.c
  src/utils/config_utils/tests/config_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

use compatProperties from config file (#597)
  src/extensions/agent_modules/cloud_communication/eg_mqtt_broker_client/src/agentinfo_request_operation.c
  src/extensions/agent_modules/cloud_communication/iothub_client/adu_core_interface/src/startup_msg_helper.c
  src/utils/config_utils/inc/aduc/config_utils.h
  src/utils/config_utils/src/config_utils.c
  src/utils/config_utils/tests/config_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

- Update install-deps.sh script to build catch2 v2.x - Add instruction for installing optional development tools
  docs/agent-reference/how-to-build-agent-code.md
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Updated test dependency (catch2 v2.x) and added instruction for optional development tools installation. (#598)
  docs/agent-reference/how-to-build-agent-code.md
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

change reporting schema workflowId at top-level
  src/adu_types/inc/aduc/types/update_content.h
  src/extensions/agent_modules/cloud_communication/adps2_mqtt_client/CMakeLists.txt
  src/extensions/agent_modules/cloud_communication/adps2_mqtt_client/tests/adps2mqtt_client_module_ft.cpp
  src/extensions/agent_modules/cloud_communication/eg_mqtt_broker_client/src/adu_integration.cpp
  src/utils/config_utils/src/config_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

change reporting schema workflowId at top-level (#599)
  src/adu_types/inc/aduc/types/update_content.h
  src/extensions/agent_modules/cloud_communication/adps2_mqtt_client/CMakeLists.txt
  src/extensions/agent_modules/cloud_communication/adps2_mqtt_client/tests/adps2mqtt_client_module_ft.cpp
  src/extensions/agent_modules/cloud_communication/eg_mqtt_broker_client/src/adu_integration.cpp
  src/utils/config_utils/src/config_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Allow multiple agents to connect to broker
  src/extensions/agent_modules/cloud_communication/adps2_mqtt_client/src/adps2_mqtt_client_module.c
  src/extensions/agent_modules/cloud_communication/communication_channel/mqtt_broker/src/adu_communication_channel.c
  src/extensions/agent_modules/cloud_communication/eg_mqtt_broker_client/src/adu_mqtt_client_module.c
  src/extensions/agent_modules/shared/upd_utils/src/adu_upd_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Allow multiple agents to connect to broker (#600)
  src/extensions/agent_modules/cloud_communication/adps2_mqtt_client/src/adps2_mqtt_client_module.c
  src/extensions/agent_modules/cloud_communication/communication_channel/mqtt_broker/src/adu_communication_channel.c
  src/extensions/agent_modules/cloud_communication/eg_mqtt_broker_client/src/adu_mqtt_client_module.c
  src/extensions/agent_modules/shared/upd_utils/src/adu_upd_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

use workflowId top-level prop in upd_resp
  src/extensions/agent_modules/cloud_communication/eg_mqtt_broker_client/src/adu_integration.cpp
  src/utils/workflow_utils/src/workflow_utils.c
  src/utils/workflow_utils/tests/workflow_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

use workflowId top-level prop in upd_resp (#601)
  src/extensions/agent_modules/cloud_communication/eg_mqtt_broker_client/src/adu_integration.cpp
  src/utils/workflow_utils/src/workflow_utils.c
  src/utils/workflow_utils/tests/workflow_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

use dollar SUDO for installing mosquitto ppa
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

update to remove e2e for ubuntu 1804
  README.md
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
  azurepipelines/build/templates/adu-docker-build-steps.yml
  azurepipelines/e2e_test/e2etest.yaml
  azurepipelines/e2e_test/scenarios/test_runner/vm_setup/sas_vm_setup.sh
  azurepipelines/e2e_test/scenarios/test_runner/vm_setup/x509_vm_setup.sh
  azurepipelines/e2e_test/terraform/host/variables.tf
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Remove e2e for ubuntu 1804 (#602)
  README.md
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
  azurepipelines/build/templates/adu-docker-build-steps.yml
  azurepipelines/e2e_test/e2etest.yaml
  azurepipelines/e2e_test/scenarios/test_runner/vm_setup/sas_vm_setup.sh
  azurepipelines/e2e_test/scenarios/test_runner/vm_setup/x509_vm_setup.sh
  azurepipelines/e2e_test/terraform/host/variables.tf
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Omnect 1.1.0 (#37)
  CMakeLists.txt
  scripts/error_code_generator_defs/result_codes.json
  src/adu_workflow/src/agent_workflow.c
  src/communication_managers/iothub_communication_manager/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/diagnostics_component/diagnostics_workflow/CMakeLists.txt
  src/diagnostics_component/diagnostics_workflow/src/diagnostics_workflow.c
  src/diagnostics_component/utils/CMakeLists.txt
  src/extensions/CMakeLists.txt
  src/extensions/content_downloaders/CMakeLists.txt
  src/extensions/download_handlers/CMakeLists.txt
  src/extensions/step_handlers/swupdate_consent_handler/CMakeLists.txt
  src/extensions/step_handlers/swupdate_consent_handler/files/consent_conf.json
  src/extensions/step_handlers/swupdate_consent_handler/files/history_consent.json
  src/extensions/step_handlers/swupdate_consent_handler/files/request_consent.json
  src/extensions/step_handlers/swupdate_consent_handler/files/user_consent.json
  src/extensions/step_handlers/swupdate_consent_handler/inc/aduc/swupdate_consent_handler.hpp
  src/extensions/step_handlers/swupdate_consent_handler/src/swupdate_consent_handler.cpp
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
  src/platform_layers/linux_platform_layer/CMakeLists.txt
  src/platform_layers/linux_platform_layer/src/linux_device_info_exports.cpp
  src/utils/eis_utils/src/eis_coms.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fixes (#38)
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fixed 32-bit build (#39)
  src/utils/c_utils/src/string_c_utils.c
  src/utils/extension_utils/src/extension_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fixes link to example swupdate v2 link
  src/extensions/step_handlers/swupdate_handler_v2/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update README.md - rmv -2.1 suffix
  src/extensions/step_handlers/swupdate_handler_v2/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fixes link to example swupdate v2 link (#606)
  src/extensions/step_handlers/swupdate_handler_v2/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove unused code (url_utils.*)
  src/utils/c_utils/CMakeLists.txt
  src/utils/c_utils/inc/aduc/http_url.h
  src/utils/c_utils/src/http_url.c
  src/utils/rootkeypackage_utils/src/rootkeypackage_utils.c
  src/utils/url_utils/src/url_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Remove unused code (url_utils.*) (#608)
  src/utils/c_utils/CMakeLists.txt
  src/utils/c_utils/inc/aduc/http_url.h
  src/utils/c_utils/src/http_url.c
  src/utils/rootkeypackage_utils/src/rootkeypackage_utils.c
  src/utils/url_utils/src/url_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

added handling to only allowed forward updates (#41)
  src/adu_workflow/src/agent_workflow.c
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix ignore duplicate deployment use case by set workflow to idle state
  src/adu_workflow/src/agent_workflow.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Create ubuntuvmdeploy.json
  assets/ubuntuvmdeploy.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Create README.md
  assets/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update README.md
  assets/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

prevent segmentation fault
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Update ubuntuvmdeploy.json
  assets/ubuntuvmdeploy.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix failed update (#43)
  src/adu_workflow/src/agent_workflow.c
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

continue to resolve
  .gitignore
  scripts/install-deps.sh
  src/agent/CMakeLists.txt
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/adu_core_interface/src/device_properties.c
  src/agent/src/main.c
  src/extensions/content_downloaders/curl_downloader/CMakeLists.txt
  src/extensions/step_handlers/CMakeLists.txt
  src/inc/aduc/result.h
  src/utils/eis_utils/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

build snap
  snap/local/README.md
  snap/snapcraft.yaml
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.cpp
  src/utils/eis_utils/src/eis_utils.c
  src/utils/extension_utils/src/extension_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

typo
  snap/snapcraft.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

deviceupdate-agent-downloads
  snap/local/README.md
  snap/snapcraft.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix azure-stoage-sdk dependency
  snap/local/README.md
  snap/snapcraft.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/docker/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: daemon, docker, docs, licenses, tools, **/*.md
