Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
    - template: ../templates/adu-native-build-steps.yml
  ...

Update how-to-install-deb-pkg-on-rpi.md
  docs/agent-reference/how-to-install-deb-pkg-on-rpi.md
Due: none

Incrementing versions from patch 1.0.1 to patch 1.0.2 (#369)
  CMakeLists.txt
  azurepipelines/build/docker/adu-debian-amd64-build.yml
  azurepipelines/build/docker/adu-debian-arm32-build.yml
  azurepipelines/build/docker/adu-debian-arm64-build.yml
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
  azurepipelines/build/native/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix SWUpdate handler V2 device reboot and agent restart issue. (#373)
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/payloads/example-a-b-update.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Set default DO ref to main (#374)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Support building documentation
  scripts/build.ps1
  src/docs/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Enable Debian11 for rpios
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

fix install shellcheck binary download for non x86_64
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

use python 3.11 in e2e pipelines for perf speedup
  azurepipelines/e2e_test/e2etest.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Create how-to-install-deb-pkg-on-rpi.md (#377)
  docs/agent-reference/how-to-install-deb-pkg-on-rpi.md
Due: none

While building I was seeing a few tests failing with:
  src/utils/config_utils/tests/main.cpp
  src/utils/eis_utils/tests/main.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix non x64 shellcheck pkg install for RPi4 aarch64
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Install gcc-10 for Debian 11 bullseye for Rpi4
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Rev deviceUpdate Model and ContractModel to 3 for adu-m rootkey support
  CMakeLists.txt
  src/agent/adu_core_interface/src/device_properties.c
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update Pipelines Build README.md (#300)
  azurepipelines/build/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

update links (#131)
  docs/agent-reference/goal-state-support.md
Due: none

use python 3.11 in e2e pipelines for perf speedup (#382)
  azurepipelines/e2e_test/e2etest.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

rmv typo, dup word
  CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Rev deviceUpdate Model and ContractModel to 3 for adu-m rootkey support (#383)
  CMakeLists.txt
  src/agent/adu_core_interface/src/device_properties.c
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix non x64 shellcheck pkg install for RPi4 aarch64 (#380)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fail if it's not a cloned repo.
  scripts/build.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Add quiet so that powershell doesnt mistake git clone output for an error.
  cmake/automate-vcpkg.cmake
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

While building I was seeing a few tests failing with: (#379)
  src/utils/config_utils/tests/main.cpp
  src/utils/eis_utils/tests/main.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Install gcc-10 for Debian 11 bullseye for Rpi4 (#381)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

initial commit
  src/utils/crypto_utils/inc/decryption_utils.h
  src/utils/crypto_utils/src/decryption_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix: cmake misses some POSITION_INDEPENDENT_CODE settings
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/CMakeLists.txt
  src/utils/parson_json_utils/CMakeLists.txt
  src/utils/permission_utils/CMakeLists.txt
  src/utils/workflow_data_utils/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix: use ADUC_FILE_GROUP instead of hardcoded "adu"
  src/agent/command_helper/src/command_helper.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix: use bool instead of _Bool also in generated code.
  scripts/error_code_generator_defs/error_code_defs_generator.py
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

mv libdo dep agent -> do dwnlder
  cmake/agentRules.cmake
  scripts/error_code_generator_defs/result_codes.json
  src/agent/CMakeLists.txt
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/adu_core_interface/src/device_properties.c
  src/agent/src/main.c
  src/extensions/content_downloaders/deliveryoptimization_downloader/deliveryoptimization_content_downloader.EXPORTS.cpp
  src/extensions/extension_manager/inc/aduc/extension_manager.h
  src/extensions/extension_manager/inc/aduc/extension_manager.hpp
  src/extensions/extension_manager/src/extension_manager.cpp
  src/extensions/inc/aduc/content_downloader_extension.hpp
  src/extensions/inc/aduc/exports/extension_content_downloader_export_symbols.h
  src/inc/aduc/result.h
  src/utils/contract_utils/inc/aduc/contract_utils.h
  src/utils/contract_utils/src/contract_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Improve DU snapcraft.yaml for better incremental build Use DO content downloader instead of curl content downloader
  scripts/install-deps.sh
  snap/hooks/configure
  snap/local/README.md
  snap/snapcraft.yaml
  src/extensions/content_downloaders/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Added valid tests and fixed bugs exposed by the full unit tests
  src/utils/root_key_utils/src/root_key_list.c
  src/utils/root_key_utils/src/root_key_util.c
  src/utils/root_key_utils/tests/root_key_utils_ut.cpp
  src/utils/root_key_utils/tests/testdata/root_key_utils/invalidrootkeypackage.json
  src/utils/root_key_utils/tests/testdata/root_key_utils/rootkeypackage.json
  src/utils/root_key_utils/tests/testdata/root_key_utils/validrootkeypackage.json
  src/utils/rootkeypackage_utils/src/rootkeypackage_parse.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

sort paths before asserting in systemutils_forEachDir tests (#265)
  src/utils/system_utils/tests/system_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

microsoft/wim:1 handler skeleton. Replaces microsoft/wiot:1
  scripts/build.ps1
  scripts/du_install.ps1
  src/extensions/step_handlers/CMakeLists.txt
  src/extensions/step_handlers/wim_handler/CMakeLists.txt
  src/extensions/step_handlers/wim_handler/README.md
  src/extensions/step_handlers/wim_handler/inc/aducresult.hpp
  src/extensions/step_handlers/wim_handler/inc/wim_handler_1.hpp
  src/extensions/step_handlers/wim_handler/inc/wim_handler_result_code.hpp
  src/extensions/step_handlers/wim_handler/inc/wim_step_handler.hpp
  src/extensions/step_handlers/wim_handler/inc/workflow_ptr.hpp
  src/extensions/step_handlers/wim_handler/src/handler_create.cpp
  src/extensions/step_handlers/wim_handler/src/wim_handler_1.cpp
  src/extensions/step_handlers/wim_handler/src/wim_step_handler.cpp
  src/extensions/step_handlers/wiot_handler/README.md
  src/extensions/step_handlers/wiot_handler/inc/step_handler.hpp
  src/extensions/step_handlers/wiot_handler/src/step_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Handler improvements.
  src/extensions/step_handlers/wim_handler/inc/wim_handler_result_code.hpp
  src/extensions/step_handlers/wim_handler/inc/wim_step_handler.hpp
  src/extensions/step_handlers/wim_handler/src/wim_handler_1.cpp
  src/extensions/step_handlers/wim_handler/src/wim_step_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update DU Agent snapcraft file and build variable name
  CMakeLists.txt
  scripts/build.sh
  scripts/install-deps.sh
  snap/local/README.md
  snap/snapcraft.yaml
  src/agent/CMakeLists.txt
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/adu_core_interface/src/device_properties.c
  src/agent/src/main.c
  src/extensions/CMakeLists.txt
  src/extensions/content_downloaders/curl_downloader/CMakeLists.txt
  src/extensions/content_downloaders/curl_downloader/curl_content_downloader.cpp
  src/extensions/content_downloaders/deliveryoptimization_downloader/deliveryoptimization_content_downloader.cpp
  src/extensions/download_handlers/CMakeLists.txt
  src/extensions/step_handlers/CMakeLists.txt
  src/utils/extension_utils/CMakeLists.txt
  src/utils/extension_utils/src/extension_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix variable
  scripts/du_install.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Support elevated debugging.
  scripts/debug_agent.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
