Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/docker/adu-debian-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/docker/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: daemon, docker, docs, licenses, tools, **/*.md

Add aducsdk static lib
  CMakeLists.txt
  docs/agent-reference/GetAduServiceStatus.md
  src/sdk/CMakeLists.txt
  src/sdk/inc/aduc/aducsdk.h
  src/sdk/src/aducsdk.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Improve x509 support (#763)
  CMakeLists.txt
  docs/agent-reference/how-to-x509-authentication.md
  docs/agent-reference/x509-demo/x509-demo.sh
  scripts/config-integration.sh
  src/agent/command_helper/src/command_helper.c
  src/agent/src/main.c
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/utils/hash_utils/src/hash_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Improve x509 support (#763) (#764)
  CMakeLists.txt
  docs/agent-reference/how-to-x509-authentication.md
  docs/agent-reference/x509-demo/x509-demo.sh
  scripts/config-integration.sh
  src/agent/command_helper/src/command_helper.c
  src/agent/src/main.c
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/utils/hash_utils/src/hash_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

apiproto_utils
  src/agent/api/CMakeLists.txt
  src/agent/api/src/apiproto.c
  src/agent/api/src/apisvc.c
  src/agent/api/tests/CMakeLists.txt
  src/agent/api/tests/apisvc_unit_tests.cpp
  src/sdk/CMakeLists.txt
  src/sdk/src/aducsdk.c
  src/utils/CMakeLists.txt
  src/utils/apiproto_utils/CMakeLists.txt
  src/utils/apiproto_utils/inc/aduc/apiproto.h
  src/utils/apiproto_utils/src/apiproto.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

arm64 rpi4 integration fixes
  src/agent/api/src/apisvc.c
  src/agent/api/tests/apisvc_unit_tests.cpp
  src/sdk/inc/aduc/aducsdk.h
  src/sdk/src/aducsdk.c
  src/utils/apiproto_utils/src/apiproto.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

updates to doc and unused cmake var
  .vscode/extensions.json
  CMakeLists.txt
  docs/agent-reference/GetAduServiceStatus.md
  docs/agent-reference/how-to-build-agent-code.md
  src/sdk/CMakeLists.txt
  src/sdk/README-Yocto-Integration.md
  src/sdk/README.md
  src/sdk/src/aducsdk.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix typo and apiproto hdr lnk
  docs/agent-reference/GetAduServiceStatus.md
Due: none

fix indent adu sdk hdr
  src/sdk/inc/aduc/aducsdk.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

rmv stale doc param
  src/agent/adu_core_interface/src/adu_core_interface.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

set viewstate to Failed on report json failure
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/sdk/inc/aduc/aducsdk.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

put extern g_vsm in hdr
  src/adu_workflow/src/agent_workflow.c
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/agent/api/src/apisvc.c
  src/viewstatemgr/inc/aduc/viewstatemgr.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

rev schemaVersion 1.2 du-config
  daemon/install.sh
  packages/debian/postinst
  scripts/install-du.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add MAX_BUF_LEN macro comment
  src/utils/apiproto_utils/inc/aduc/apiproto.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

replace 3 sizeof u16 with MSG_HDR_LEN
  src/utils/apiproto_utils/src/apiproto.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add links to yocto repo for sample yocto integration via status_monitor
  src/sdk/README-Yocto-Integration.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

add missing file headers
  src/utils/apiproto_utils/inc/aduc/apiproto.h
  src/utils/apiproto_utils/src/apiproto.c
  src/utils/timer_utils/inc/aduc/timer.h
  src/utils/timer_utils/src/timer.c
  src/utils/timer_utils/tests/timer_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add missing file hdr for viewstatemgr
  src/viewstatemgr/inc/aduc/viewstatemgr.h
  src/viewstatemgr/src/viewstatemgr.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

log warn when not init'ed in getter
  src/viewstatemgr/src/viewstatemgr.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

add RESP_MSG_READ_BUF_SIZE
  src/utils/apiproto_utils/inc/aduc/apiproto.h
  src/utils/apiproto_utils/src/apiproto.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

flush and wait before close resp fifo
  src/agent/api/src/apisvc.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

further improvements for rpi4
  src/agent/api/src/apisvc.c
  src/sdk/src/aducsdk.c
  src/utils/apiproto_utils/src/apiproto.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix sdk examples zlog indirect dep and clangformat
  src/sdk/CMakeLists.txt
  src/utils/apiproto_utils/src/apiproto.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix all known SDK stability issues on RPI4 (#768)
  src/agent/api/src/apisvc.c
  src/sdk/CMakeLists.txt
  src/sdk/src/aducsdk.c
  src/utils/apiproto_utils/src/apiproto.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix #749 - Add build steps in CI for Ubuntu 24.04 (noble)
  .github/workflows/docker-build.yml
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
  azurepipelines/build/native/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

rmv unneeded c_utils link lib
  src/sdk/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add rootkey support document
  docs/agent-reference/security-rootkey-package.md
Due: none

Update manufacturer and model fields in documentation
  docs/agent-reference/how-to-x509-authentication.md
Due: none

Add IdlePauseMilliseconds to an example config
  docs/agent-reference/how-to-x509-authentication.md
Due: none

Agent docs update
  docs/agent-reference/README.md
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/configuration-guide.md
  docs/agent-reference/quick-start.md
  docs/agent-reference/security-rootkey-package.md
Due: none

Fix syntax error in X.509 authentication documentation
  docs/agent-reference/how-to-x509-authentication.md
Due: none

Fix formatting of IdlePauseMilliseconds in documentation
  docs/agent-reference/how-to-x509-authentication.md
Due: none

Update x509 support documentation (#770)
  docs/agent-reference/how-to-x509-authentication.md
Due: none
