Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/docker/adu-debian-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/docker/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: daemon, docker, docs, licenses, tools, **/*.md

Implement enhanced process supervisor with output capture and orphan cleanup
  src/extension_sdk/inc/aduc/process_supervisor.h
  src/extension_sdk/src/process_supervisor.c
  src/extension_sdk/tests/process_supervisor_ut.cpp
  src/extensions/step_handlers/script_handler_v2/src/script_handler_v2.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add regression tests for issue #765
  src/extensions/extension_manager/tests/inc/extension_manager_download_test_case.hpp
  src/extensions/extension_manager/tests/src/extension_manager_download_test_case.cpp
  src/extensions/extension_manager/tests/src/extension_manager_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Align with v4 protocol spec (2026-11-02-preview)
  src/extension_sdk/inc/aduc/communication_vtable.h
  src/extension_sdk/inc/aduc/extension_types.h
  src/extension_sdk/tests/v2_protocol_types_ut.cpp
  src/extensions/communication_providers/adu_direct/src/adu_direct_comm.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Revise README for clarity on implementation and usage
  README.md
Due: none

Revise README for clarity on implementation and usage (#876)
  README.md
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update CHANGELOG (#878)
  CHANGELOG.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

docs: fix incorrect IdlePauseMilliseconds in x509 config example (#873)
  docs/agent-reference/how-to-x509-authentication.md
Due: none

Fix #858: manage linux platform layer async worker thread lifecycle (#862)
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.cpp
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.hpp
  src/platform_layers/linux_platform_layer/tests/linux_adu_core_impl_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix ADU agent restart loop on transient IoT Hub disconnect (ADO 38069154)
  daemon/deviceupdate-agent.service
  src/communication_managers/iothub_communication_manager/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/communication_managers/iothub_communication_manager/tests/iothub_communication_manager_ut.cpp
  src/utils/d2c_messaging/CMakeLists.txt
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/src/d2c_messaging.c
  src/utils/d2c_messaging/tests/CMakeLists.txt
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

d2c_messaging UTs: don't re-register flaky [functional] ctest
  src/utils/d2c_messaging/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

test(d2c): fix missed-signal race in d2c_messaging UT harness
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix AducTimer thread lifecycle and a flaky polling-interval assumption in its tests
  src/utils/timer_utils/inc/aduc/timer.h
  src/utils/timer_utils/src/timer.c
  src/utils/timer_utils/tests/timer_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix ADU agent restart loop on transient IoT Hub disconnect (ADO 38069154) (#879)
  daemon/deviceupdate-agent.service
  src/communication_managers/iothub_communication_manager/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/communication_managers/iothub_communication_manager/tests/iothub_communication_manager_ut.cpp
  src/utils/d2c_messaging/CMakeLists.txt
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/src/d2c_messaging.c
  src/utils/d2c_messaging/tests/CMakeLists.txt
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add regression tests for issue #765 (#875)
  src/extensions/extension_manager/tests/inc/extension_manager_download_test_case.hpp
  src/extensions/extension_manager/tests/src/extension_manager_download_test_case.cpp
  src/extensions/extension_manager/tests/src/extension_manager_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix AducTimer thread lifecycle and a flaky polling-interval assumptio… (#880)
  src/utils/timer_utils/inc/aduc/timer.h
  src/utils/timer_utils/src/timer.c
  src/utils/timer_utils/tests/timer_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs(agent-reference): expand architecture-overview with E2E flow, v5 field map, and reported-properties contract
  docs/agent-reference/architecture-overview.md
Due: none

docs(agent-reference): fix Mermaid sequenceDiagram parse failure
  docs/agent-reference/architecture-overview.md
Due: none

docs(agent-reference): force white SVG canvas via themeCSS for Mermaid diagrams
  docs/agent-reference/architecture-overview.md
Due: none

Fix SIGABRT on workflow step transition (re-entrant TrackWorker)
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.cpp
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.hpp
  src/platform_layers/linux_platform_layer/tests/linux_adu_core_impl_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Update support terms.
  SUPPORT.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update how-to document
  docs/how-to-troubleshoot-guide.md
Due: none

Update support terms. (#884)
  SUPPORT.md
  docs/how-to-troubleshoot-guide.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix SIGABRT on workflow step transition (re-entrant TrackWorker) (#883)
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.cpp
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.hpp
  src/platform_layers/linux_platform_layer/tests/linux_adu_core_impl_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Upgrade azure-iot-sdk-c from LTS_08_2023 to LTS_03_2025
  docs/agent-reference/how-to-build-agent-code.md
  licenses/cgmanifest.json
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs(delta): add canonical delta download handler runtime doc
  docs/agent-reference/building-with-delta-handler.md
  docs/agent-reference/delta-download-handler.md
  docs/agent-reference/update-manifest-v5-schema.md
  src/extensions/download_handlers/README.md
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

docs(agent-reference): relocate v5 field map to schema doc; strip line numbers
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/update-manifest-v5-schema.md
Due: none

docs(delta): strip line-number citations from delta download handler doc
  docs/agent-reference/delta-download-handler.md
Due: none

ci(docker-build): retry apt steps to absorb transient mirror failures
  .github/workflows/docker-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

ci(docker-build): retry apt steps to absorb transient mirror failures (#885)
  .github/workflows/docker-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix AIS+EIS-x509 regression: route EIS identity cert to clientCertificateString
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/communication_managers/iothub_communication_manager/tests/iothub_communication_manager_ut.cpp
  src/utils/eis_utils/src/eis_utils.c
  src/utils/eis_utils/tests/eis_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs: add CHANGELOG entries for edgegatewayCertPath fix and AIS+EIS-x509 follow-up
  CHANGELOG.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

docs: move connection-config-fix changelog entries from 1.3.0 to new 1.3.1 section
  CHANGELOG.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix edgegatewayCertPath overwriting X.509/SASCert auth state (#874)
  CHANGELOG.md
  docs/agent-reference/adu-leaf-device-testing.md
  docs/agent-reference/connection-topologies.md
  docs/agent-reference/isa95-nested-edge-architecture.md
  docs/agent-reference/nested-edge-test-environment.md
  src/adu_types/inc/aduc/adu_types.h
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/communication_managers/iothub_communication_manager/tests/iothub_communication_manager_ut.cpp
  src/utils/eis_utils/src/eis_utils.c
  src/utils/eis_utils/tests/eis_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs: add Root Key Deep Dive (verification, rotation, revocation)
  docs/agent-reference/README.md
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/rootkey-deep-dive.md
Due: none

docs: correct manifest-vs-signature framing in root-key docs
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/rootkey-deep-dive.md
Due: none
