Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/docker/adu-debian-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/docker/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: daemon, docker, docs, licenses, tools, **/*.md

docs(rootkey): add 'What is a root-key package, and who creates it?' section
  docs/agent-reference/rootkey-deep-dive.md
Due: none

docs(rootkey): strip source-file line numbers from citations
  docs/agent-reference/rootkey-deep-dive.md
Due: none

Potential fix for pull request finding
  docs/agent-reference/rootkey-deep-dive.md
Due: none

Potential fix for pull request finding
  docs/agent-reference/architecture-overview.md
Due: none

Fix #811: preserve sandbox on restart so downloads can resume
  CHANGELOG.md
  docs/agent-reference/architecture-overview.md
  docs/how-to-troubleshoot-guide.md
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.cpp
  src/platform_layers/linux_platform_layer/tests/linux_adu_core_impl_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs(agent-reference): document retry-update for proxy-update re-evaluation
  docs/agent-reference/README.md
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/goal-state-support.md
  docs/agent-reference/how-to-run-agent.md
  docs/agent-reference/multi-component-updating.md
  docs/agent-reference/reprocessing-deployments.md
Due: none

Pin vcpkg baseline for Azure Storage SDK build
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs: document IsInstalled call sites and authoring guidance (#750)
  docs/agent-reference/how-to-implement-custom-update-handler.md
Due: none

docs(agent-reference): document retry-update for proxy-update re-evaluation (#888)
  docs/agent-reference/README.md
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/goal-state-support.md
  docs/agent-reference/how-to-run-agent.md
  docs/agent-reference/multi-component-updating.md
  docs/agent-reference/reprocessing-deployments.md
Due: none

E2E: move Linux test pipeline from Ubuntu 20.04 to 22.04
  azurepipelines/e2e_test/e2etest.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Default ADUC_BUILD_WITH_DELIVERY_OPTIMIZATION to OFF (curl is the new default downloader)
  CMakeLists.txt
  packages/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Pin vcpkg baseline for Azure Storage SDK build (#891)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix AducTimer thread lifecycle and a flaky polling-interval assumptio… (#880)
  src/utils/timer_utils/inc/aduc/timer.h
  src/utils/timer_utils/src/timer.c
  src/utils/timer_utils/tests/timer_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Pin vcpkg baseline and fix AducTimer thread lifecycle issues (#894)
  scripts/install-deps.sh
  src/utils/timer_utils/inc/aduc/timer.h
  src/utils/timer_utils/src/timer.c
  src/utils/timer_utils/tests/timer_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Adds a new engineer-facing deep-dive (#886)
  docs/agent-reference/README.md
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/rootkey-deep-dive.md
Due: none

Default ADUC_BUILD_WITH_DELIVERY_OPTIMIZATION to OFF (curl is the new default downloader) (#893)
  CMakeLists.txt
  packages/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix #811: preserve sandbox on restart so downloads can resume (#887)
  CHANGELOG.md
  docs/agent-reference/architecture-overview.md
  docs/how-to-troubleshoot-guide.md
  src/platform_layers/linux_platform_layer/src/linux_adu_core_impl.cpp
  src/platform_layers/linux_platform_layer/tests/linux_adu_core_impl_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Upgrade azure-iot-sdk-c from LTS_08_2023 to LTS_03_2025 (#882)
  docs/agent-reference/how-to-build-agent-code.md
  licenses/cgmanifest.json
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix logical bugs in adu-shell script execution (issue #766)
  scripts/error_code_generator_defs/result_codes.json
  src/adu-shell/inc/adushell.hpp
  src/adu-shell/src/script_tasks.cpp
  src/adu-shell/tests/CMakeLists.txt
  src/adu-shell/tests/adushell_ut.cpp
  src/extensions/step_handlers/script_handler/src/script_handler.cpp
  src/inc/aduc/result.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs(custom-handler): clarify IsInstalled call sites and authoring guidance (#750)
  docs/agent-reference/how-to-implement-custom-update-handler.md
Due: none

install-deps: pin delta build to newer GCC on Ubuntu 20.04 arm64
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

install-deps: pin delta build to newer GCC on Ubuntu 20.04 arm64 (#881)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs(custom-handler): clarify IsInstalled call sites and authoring guidance (#750) (#896)
  docs/agent-reference/how-to-implement-custom-update-handler.md
Due: none

Fix logical bugs in adu-shell script execution (issue #766) (#895)
  scripts/error_code_generator_defs/result_codes.json
  src/adu-shell/inc/adushell.hpp
  src/adu-shell/src/script_tasks.cpp
  src/adu-shell/tests/CMakeLists.txt
  src/adu-shell/tests/adushell_ut.cpp
  src/extensions/step_handlers/script_handler/src/script_handler.cpp
  src/inc/aduc/result.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix cancellation of running updates and script-handler CancelUpdate (#776, #777)
  CHANGELOG.md
  src/adu_workflow/inc/aduc/agent_workflow.h
  src/adu_workflow/src/agent_workflow.c
  src/adu_workflow/tests/agent_workflow_ut.cpp
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/extensions/step_handlers/script_handler/src/script_handler.cpp
  src/extensions/step_handlers/script_handler/tests/script_handler_ut.cpp
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Release prep 1.4.0: version bump, comprehensive CHANGELOG, doc version bump
  CHANGELOG.md
  CMakeLists.txt
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/configuration-guide.md
  docs/agent-reference/quick-start.md
  docs/agent-reference/rootkey-deep-dive.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Move cancellation CHANGELOG entries under Release 1.4.0 heading
  CHANGELOG.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix cancellation of running updates and script-handler CancelUpdate (#776, #777) (#897)
  CHANGELOG.md
  src/adu_workflow/inc/aduc/agent_workflow.h
  src/adu_workflow/src/agent_workflow.c
  src/adu_workflow/tests/agent_workflow_ut.cpp
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/extensions/step_handlers/script_handler/src/script_handler.cpp
  src/extensions/step_handlers/script_handler/tests/script_handler_ut.cpp
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Release prep 1.4.0: comprehensive CHANGELOG + doc version bump (#898)
  CHANGELOG.md
  CMakeLists.txt
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/configuration-guide.md
  docs/agent-reference/quick-start.md
  docs/agent-reference/rootkey-deep-dive.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs: fix broken links and add delta handler call-chain flowchart
  docs/agent-reference/README.md
  docs/agent-reference/building-with-delta-handler.md
  docs/agent-reference/device-update-agent-extensibility-points.md
  docs/agent-reference/isa95-nested-edge-architecture.md
  docs/agent-reference/nested-edge-test-environment.md
  docs/agent-reference/update-manifest-v5-schema.md
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

docs: add implementation deep-dive to GetAduServiceStatus SDK doc
  docs/agent-reference/GetAduServiceStatus.md
Due: none

docs: fix Mermaid render error in GetAduServiceStatus sequence diagram
  docs/agent-reference/GetAduServiceStatus.md
Due: none

Fix test to work with relative workfolder.
  src/extensions/step_handlers/apt_handler/tests/CMakeLists.txt
  src/extensions/step_handlers/apt_handler/tests/apt_handler_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Remove duplicated validation in curl content downloader
  src/extensions/content_downloaders/curl_downloader/curl_content_downloader.cpp
  src/extensions/content_downloaders/curl_downloader/tests/curl_content_downloader_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix work-folder as parameter in build script.
  scripts/build.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix key under [Service] to correct [Unit]
  daemon/deviceupdate-agent.service
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml
