Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/docker/adu-debian-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/docker/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: 1es_hosted_pool_windows
        os: windows
      sdl:
        sourceAnalysisPool:
          name: 1es_hosted_pool_windows
          os: windows
        suppression:
  ...

Remove tools/AduCmdlets PowerShell scripts (deprecated)
  src/extensions/component_enumerators/examples/contoso_component_enumerator/demo/README.md
  src/extensions/component_enumerators/examples/contoso_component_enumerator/demo/tutorial1.md
  tools/AduCmdlets/.gitignore
  tools/AduCmdlets/AduAzStorageBlobHelper.psm1
  tools/AduCmdlets/AduImportUpdate.psm1
  tools/AduCmdlets/AduRestApi.psm1
  tools/AduCmdlets/AduUpdate.psm1
  tools/AduCmdlets/CreateSampleComplexUpdate.ps1
  tools/AduCmdlets/ImportSampleComplexUpdate.ps1
  tools/AduCmdlets/README.md
  tools/AduCmdlets/create-adu-import-manifest.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove tools/AduCmdlets-py (deprecated)
  src/extensions/component_enumerators/examples/contoso_component_enumerator/demo/README.md
  src/extensions/component_enumerators/examples/contoso_component_enumerator/demo/tutorial1.md
  tools/AduCmdlets-py/CreateSampleComplexUpdate.py
  tools/AduCmdlets-py/CreateSampleSimpleUpdate.py
  tools/AduCmdlets-py/README.md
  tools/AduCmdlets-py/scripts/aduupdate.py
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

demo: rewrite tutorial1 as JSON walkthrough; remove tutorial1.ps1
  src/extensions/component_enumerators/examples/contoso_component_enumerator/demo/tutorial1.md
  src/extensions/component_enumerators/examples/contoso_component_enumerator/demo/tutorial1.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

SDK status API: bug fixes, end-to-end tests, doc cleanup
  docs/agent-reference/GetAduServiceStatus.md
  src/agent/api/tests/CMakeLists.txt
  src/agent/api/tests/apisvc_unit_tests.cpp
  src/sdk/CMakeLists.txt
  src/sdk/README-Yocto-Integration.md
  src/sdk/README.md
  src/sdk/src/aducsdk.c
  src/sdk/tests/CMakeLists.txt
  src/sdk/tests/aducsdk_unit_tests.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs(agent-reference): add Steps Handler reference and refresh extensibility docs
  CHANGELOG.md
  docs/agent-reference/README.md
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/device-update-agent-extensibility-points.md
  docs/agent-reference/how-to-build-swupdate-for-swupdate-handler-unit-tests.md
  docs/agent-reference/how-to-implement-custom-update-handler.md
  docs/agent-reference/multi-component-updating.md
  docs/agent-reference/registering-device-update-extensions.md
  docs/agent-reference/steps-handler.md
  docs/agent-reference/update-manifest-v4-schema.md
  docs/agent-reference/update-manifest-v5-schema.md
  src/extensions/download_handlers/README.md
  src/extensions/step_handlers/script_handler/README.md
  src/extensions/update_manifest_handlers/steps_handler/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix build issue
  src/sdk/tests/aducsdk_unit_tests.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

SDK status API: bug fixes, end-to-end tests, doc cleanup (#871)
  docs/agent-reference/GetAduServiceStatus.md
  src/agent/api/tests/CMakeLists.txt
  src/agent/api/tests/apisvc_unit_tests.cpp
  src/sdk/CMakeLists.txt
  src/sdk/README-Yocto-Integration.md
  src/sdk/README.md
  src/sdk/src/aducsdk.c
  src/sdk/tests/CMakeLists.txt
  src/sdk/tests/aducsdk_unit_tests.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Update documents for v1.3.0 (#872)
  CHANGELOG.md
  docs/agent-reference/README.md
  docs/agent-reference/architecture-overview.md
  docs/agent-reference/device-update-agent-extensibility-points.md
  docs/agent-reference/how-to-build-swupdate-for-swupdate-handler-unit-tests.md
  docs/agent-reference/how-to-implement-custom-update-handler.md
  docs/agent-reference/multi-component-updating.md
  docs/agent-reference/registering-device-update-extensions.md
  docs/agent-reference/steps-handler.md
  docs/agent-reference/update-manifest-v4-schema.md
  docs/agent-reference/update-manifest-v5-schema.md
  src/extensions/download_handlers/README.md
  src/extensions/step_handlers/script_handler/README.md
  src/extensions/update_manifest_handlers/steps_handler/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

docs: remove incorrect IdlePauseMilliseconds from x509 config example
  docs/agent-reference/how-to-x509-authentication.md
Due: none

Fix edgegatewayCertPath overwriting X.509/SASCert auth state
  docs/agent-reference/adu-leaf-device-testing.md
  docs/agent-reference/connection-topologies.md
  docs/agent-reference/isa95-nested-edge-architecture.md
  docs/agent-reference/nested-edge-test-environment.md
  src/adu_types/inc/aduc/adu_types.h
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/communication_managers/iothub_communication_manager/tests/iothub_communication_manager_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs: add AIS module identity registration details to connection-topologies
  docs/agent-reference/connection-topologies.md
Due: none

feat: Add cross-platform Agent Local API (localapi)
  docs/agent-reference/local-api-design.md
  src/CMakeLists.txt
  src/libaducpal/CMakeLists.txt
  src/libaducpal/inc/aduc/ipc_transport.h
  src/libaducpal/src/ipc_transport_linux.c
  src/libaducpal/src/ipc_transport_win32.c
  src/localapi/CMakeLists.txt
  src/localapi/inc/aduc/localapi.h
  src/localapi/src/localapi_security.c
  src/localapi/src/localapi_security.h
  src/localapi/src/localapi_server.c
  src/localapi/tests/CMakeLists.txt
  src/localapi/tests/ipc_transport_ut.cpp
  src/localapi/tests/localapi_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

feat: Integrate localapi into agent and migrate SDK to ipc_transport
  src/agent/CMakeLists.txt
  src/agent/src/localapi_status_provider.c
  src/agent/src/main.c
  src/sdk/CMakeLists.txt
  src/sdk/src/aducsdk.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

feat: Implement control commands, add CLI tool, remove legacy apisvc
  src/CMakeLists.txt
  src/agent/CMakeLists.txt
  src/agent/src/localapi_status_provider.c
  src/agent/src/main.c
  src/localapi/src/localapi_server.c
  tools/adu_status_cli/CMakeLists.txt
  tools/adu_status_cli/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Skip crypto/JWS tests incompatible with test root keys
  src/utils/crypto_utils/tests/CMakeLists.txt
  src/utils/crypto_utils/tests/crypto_utils_ut.cpp
  src/utils/jws_utils/tests/CMakeLists.txt
  src/utils/jws_utils/tests/jws_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add Mock IoT Hub server and comprehensive demo infrastructure
  tools/demo/README.md
  tools/demo/adu-agent-demo.conf
  tools/demo/manifests/multi_step_manifest.json
  tools/demo/manifests/simple_script_manifest.json
  tools/demo/manifests/swupdate_manifest.json
  tools/demo/payloads/apply_config.sh
  tools/demo/payloads/full_rollback.sh
  tools/demo/payloads/health_check.sh
  tools/demo/payloads/hotfix.sh
  tools/demo/payloads/install_firmware.sh
  tools/demo/payloads/pre_check.sh
  tools/demo/payloads/rollback_firmware.sh
  tools/demo/run_full_demo.sh
  tools/mock_iothub/README.md
  tools/mock_iothub/server.py
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Add code coverage, debug symbol stripping, and test .deb packages
  .gitignore
  CMakeLists.txt
  cmake/code-coverage.cmake
  cmake/debug-symbols.cmake
  scripts/upload_symbols.sh
  tools/test_packages/README.md
  tools/test_packages/build_test_deb.sh
  tools/test_packages/setup_local_repo.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add comprehensive RC/ERC diagnostic system for Gen2 agent
  src/extension_sdk/inc/aduc/erc_compat.h
  src/extension_sdk/inc/aduc/result_codes.h
  tools/rc_decoder/README.md
  tools/rc_decoder/rc_decoder.py
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs: add Gen2 SDK architecture, getting-started, and diagnostics documentation
  README.md
  docs/diagnostics.md
  docs/gen2-architecture.md
  docs/getting-started-gen2.md
Due: none

Add Kusto coverage reporting script
  scripts/coverage_to_kusto.py
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add centralized logstring packages
  src/extension_sdk/inc/aduc/logstrings.h
  src/extension_sdk/inc/aduc/logstrings/agent_logstrings.h
  src/extension_sdk/inc/aduc/logstrings/comm_logstrings.h
  src/extension_sdk/inc/aduc/logstrings/download_logstrings.h
  src/extension_sdk/inc/aduc/logstrings/extension_logstrings.h
  src/extension_sdk/inc/aduc/logstrings/manifest.json
  src/extension_sdk/inc/aduc/logstrings/security_logstrings.h
  src/extension_sdk/inc/aduc/logstrings/workflow_logstrings.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Enable code coverage for new extensions
  cmake/code-coverage.cmake
  scripts/run_coverage.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Align agent to v2 protocol result model
  src/extension_sdk/inc/aduc/communication_vtable.h
  src/extension_sdk/inc/aduc/extension_types.h
  src/extension_sdk/inc/aduc/step_result.h
  src/extension_sdk/src/agent_main.c
  src/extension_sdk/src/child_reporter.c
  src/extension_sdk/src/step_result.c
  src/extension_sdk/tests/CMakeLists.txt
  src/extension_sdk/tests/v2_protocol_types_ut.cpp
  src/extensions/communication_providers/simulator_comm/simulator_comm.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add unit tests for step handlers
  src/extension_sdk/tests/CMakeLists.txt
  src/extension_sdk/tests/step_handler_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add unit tests for agent main lifecycle
  src/extension_sdk/tests/agent_main_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add unit tests for download architecture
  src/extension_sdk/src/download_service.c
  src/extension_sdk/tests/download_tests_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add unit tests for workflow engine and DAG scheduler
  src/extension_sdk/tests/workflow_engine_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add delta content processor extension
  src/extensions/CMakeLists.txt
  src/extensions/content_processors/delta_processor/CMakeLists.txt
  src/extensions/content_processors/delta_processor/delta_processor.c
  src/extensions/content_processors/delta_processor/tests/CMakeLists.txt
  src/extensions/content_processors/delta_processor/tests/delta_processor_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add Ignite demo scripts
  .gitignore
  scripts/demo/README.md
  scripts/demo/cleanup_demo.sh
  scripts/demo/content/install.sh
  scripts/demo/run_demo.sh
  scripts/demo/setup_demo.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Align enums and field names with v3 protocol spec
  src/extension_sdk/inc/aduc/communication_vtable.h
  src/extension_sdk/inc/aduc/extension_types.h
  src/extension_sdk/inc/aduc/step_result.h
  src/extension_sdk/src/agent_main.c
  src/extension_sdk/src/step_result.c
  src/extension_sdk/tests/agent_main_ut.cpp
  src/extension_sdk/tests/v2_protocol_types_ut.cpp
  src/extension_sdk/tests/workflow_engine_ut.cpp
  src/extensions/communication_providers/simulator_comm/simulator_comm.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add v3 agent state machine with cold-start jitter and durable reports
  src/extension_sdk/inc/aduc/extension_types.h
  src/extension_sdk/src/agent_main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Rewrite adu_direct_comm.c to implement v3 ADU Device Data Plane Protocol
  src/extensions/communication_providers/adu_direct/src/adu_direct_comm.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add Debian packaging for adu-agent and extensions
  packaging/debian/adu-agent.conffiles
  packaging/debian/adu-agent.install
  packaging/debian/adu-agent.postinst
  packaging/debian/adu-agent.service
  packaging/debian/adu-diagnostics.install
  packaging/debian/adu-edk-dev.install
  packaging/debian/adu-ext-adu-direct.install
  packaging/debian/adu-ext-curl-downloader.install
  packaging/debian/adu-ext-delta-processor.install
  packaging/debian/adu-ext-script-handler.install
  packaging/debian/adu-ext-sideload-downloader.install
  packaging/debian/adu-ext-simulator.install
  packaging/debian/adu-ext-swupdate-handler.install
  packaging/debian/changelog
  packaging/debian/compat
  packaging/debian/control
  packaging/debian/copyright
  packaging/debian/rules
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add RPM spec for adu-agent and extension subpackages
  packaging/rpm/adu-agent.spec
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add CMake install rules, EDK config, man pages, and templates
  packaging/cmake/ADUCEDKConfig.cmake
  packaging/cmake/ADUCEDKConfigVersion.cmake
  packaging/cmake/aducedk.pc.in
  packaging/cmake/install.cmake
  packaging/config/agent.toml
  packaging/man/adu_rc_decoder.1
  packaging/man/adu_status_cli.1
  packaging/templates/communication_provider/CMakeLists.txt
  packaging/templates/communication_provider/communication_provider_template.c
  packaging/templates/content_downloader/CMakeLists.txt
  packaging/templates/content_downloader/content_downloader_template.c
  packaging/templates/content_processor/CMakeLists.txt
  packaging/templates/content_processor/content_processor_template.c
  packaging/templates/step_handler/CMakeLists.txt
  packaging/templates/step_handler/step_handler_template.c
  packaging/tools/adu_rc_decoder
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add build-packages.sh helper script
  packaging/build-packages.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add az-adu-device Azure CLI extension for device-side agent management
  src/extension_sdk/CMakeLists.txt
  src/extension_sdk/inc/aduc/component.h
  src/extension_sdk/src/component.c
  src/extension_sdk/src/component_targeting.c
  src/extension_sdk/tests/CMakeLists.txt
  src/extension_sdk/tests/component_ut.cpp
  src/extensions/component_enumerators/CMakeLists.txt
  src/extensions/component_enumerators/static_file/src/static_enumerator.c
  tools/az-adu-device/MANIFEST.in
  tools/az-adu-device/README.md
  tools/az-adu-device/azext_adu_device/__init__.py
  tools/az-adu-device/azext_adu_device/_help.py
  tools/az-adu-device/azext_adu_device/_params.py
  tools/az-adu-device/azext_adu_device/agent_client.py
  tools/az-adu-device/azext_adu_device/azext_metadata.json
  tools/az-adu-device/azext_adu_device/commands.py
  tools/az-adu-device/azext_adu_device/custom.py
  tools/az-adu-device/azext_adu_device/diagnostics.py
  tools/az-adu-device/azext_adu_device/tests/__init__.py
  tools/az-adu-device/azext_adu_device/tests/test_agent_client.py
  tools/az-adu-device/conftest.py
  tools/az-adu-device/setup.cfg
  tools/az-adu-device/setup.py
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add extension manifest signing and verification
  CMakeLists.txt
  src/extension_sdk/inc/aduc/extension_loader.h
  src/extension_sdk/inc/aduc/extension_signing.h
  src/extension_sdk/src/extension_loader.c
  src/extension_sdk/src/extension_signing.c
  src/extension_sdk/tests/extension_signing_ut.cpp
  tests/generate-test-keys.sh
  tools/adu-extension-sign/CMakeLists.txt
  tools/adu-extension-sign/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/docker/adu-debian-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/docker/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: daemon, docker, docs, licenses, tools, **/*.md
