Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts

Build environment improvements.
  cmake/aduc_helpers.cmake
  cmake/agentRules.cmake
  cmake/automate-vcpkg.cmake
  scripts/build.ps1
  src/extensions/download_handlers/plugin_examples/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

remove --clean and cmake-format
  cmake/automate-vcpkg.cmake
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

_WIN32 -> WIN32 (built-in to CMake)
  CMakeLists.txt
  cmake/agentRules.cmake
  src/adu-shell/CMakeLists.txt
  src/adu_workflow/CMakeLists.txt
  src/agent/CMakeLists.txt
  src/agent/command_helper/CMakeLists.txt
  src/diagnostics_component/diagnostics_devicename/CMakeLists.txt
  src/diagnostics_component/diagnostics_workflow/CMakeLists.txt
  src/diagnostics_component/utils/config_utils/tests/CMakeLists.txt
  src/diagnostics_component/utils/file_info_utils/CMakeLists.txt
  src/extensions/download_handlers/plugin_examples/CMakeLists.txt
  src/extensions/step_handlers/CMakeLists.txt
  src/extensions/step_handlers/simulator_handler/CMakeLists.txt
  src/logging/zlog/CMakeLists.txt
  src/utils/c_utils/CMakeLists.txt
  src/utils/d2c_messaging/tests/CMakeLists.txt
  src/utils/eis_utils/CMakeLists.txt
  src/utils/eis_utils/tests/CMakeLists.txt
  src/utils/file_utils/CMakeLists.txt
  src/utils/https_proxy_utils/CMakeLists.txt
  src/utils/path_utils/CMakeLists.txt
  src/utils/process_utils/CMakeLists.txt
  src/utils/process_utils/test_helper/CMakeLists.txt
  src/utils/system_utils/CMakeLists.txt
  src/utils/workflow_data_utils/CMakeLists.txt
  src/utils/workflow_utils/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Get logging working.
  src/logging/zlog/inc/zlog-config.h
  src/logging/zlog/src/init.c
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Upgrading the C-SDK version
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Changing script to use the newest DO packages from packages.microsoft.com
  azurepipelines/e2e_test/scenarios/debian-10-amd64/vm_setup/setup.sh
  azurepipelines/e2e_test/scenarios/ubuntu-18.04-amd64/vm_setup/setup.sh
  azurepipelines/e2e_test/scenarios/ubuntu-18.04-arm64/vm_setup/setup.sh
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-amd64/vm_setup/setup.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Build tool changes
  scripts/build.ps1
  scripts/debug_agent.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

documentation update
  snap/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

some syntax fixing
  snap/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

more syntax fixing
  snap/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Removed log message for retrieving connection information from connection string (#292)
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Build script improvements (parallel, better error parsing)
  scripts/build.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Disable tests failing link with umock_c -- awaiting email response
  src/utils/config_utils/CMakeLists.txt
  src/utils/eis_utils/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Initial push of libaducpal - zlog converted.
  src/CMakeLists.txt
  src/libaducpal/CMakeLists.txt
  src/libaducpal/inc/aducpal/sys_stat.h
  src/libaducpal/inc/aducpal/sys_time.h
  src/libaducpal/inc/aducpal/time.h
  src/libaducpal/inc/aducpal/unistd.h
  src/libaducpal/src/sys_stat.c
  src/libaducpal/src/sys_time.c
  src/libaducpal/src/time.c
  src/libaducpal/src/unistd.c
  src/logging/zlog/CMakeLists.txt
  src/logging/zlog/src/init.c
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update README.md
  src/extensions/step_handlers/swupdate_handler_v2/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Updated install-deps to remove old files and cleanup after itself
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fixed script errors
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

fix Script_Handler_DownloadPrimaryScriptFile
  src/extensions/step_handlers/script_handler/CMakeLists.txt
  src/extensions/step_handlers/script_handler/src/script_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Updated doxygen version (#289)
  src/docs/Doxyfile.in
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

one line fix
  docs/agent-reference/how-to-build-agent-code.md
Due: none

Try to reconnect to IoT Hub on bad credential or expired SAS token (when using AIS) Fix static analysis errors in main.c
  src/agent/src/main.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update Pipelines Build README.md
  azurepipelines/build/README.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Changed install-deps to clean up after itself (#295)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

use helper for recursive mkdir
  src/logging/zlog/CMakeLists.txt
  src/logging/zlog/src/init.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

- Move all iothub connection related codes into a new iothub_connection_manager lib - Improve iothub connection status handler logics - Some minor code cleanup
  src/CMakeLists.txt
  src/adu_workflow/CMakeLists.txt
  src/agent/CMakeLists.txt
  src/agent/src/main.c
  src/communication_abstraction/src/client_handle_helper.c
  src/communication_managers/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/inc/aduc/iothub_communication_manager.h
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/utils/CMakeLists.txt
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/src/d2c_messaging.c
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
  src/utils/eis_utils/inc/eis_utils.h
  src/utils/retry_utils/CMakeLists.txt
  src/utils/retry_utils/inc/aduc/retry_utils.h
  src/utils/retry_utils/src/retry_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

one line fix (#297)
  docs/agent-reference/how-to-build-agent-code.md
Due: none

- Replace ADUC_D2C_RetryDelayCalculator with ADUC_Retry_Delay_Calculator - Refine additional retry wait time for each status error reason
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/utils/d2c_messaging/CMakeLists.txt
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/src/d2c_messaging.c
  src/utils/d2c_messaging/tests/CMakeLists.txt
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Removing the cppcheck and clang-tidy to see if that is what is causing the pipeline builds to fail
  azurepipelines/build/templates/adu-docker-build-steps.yml
  azurepipelines/build/templates/adu-native-build-steps.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Took Jeff's suggestion for removing the pthread_cancel calls
  src/logging/zlog/inc/zlog-config.h
  src/logging/zlog/src/zlog.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

use helper for recursive mkdir (#301)
  src/logging/zlog/CMakeLists.txt
  src/logging/zlog/src/init.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Try to reconnect to IoT Hub on bad credential or expired SAS token (when using AIS) (#298)
  src/CMakeLists.txt
  src/adu_workflow/CMakeLists.txt
  src/agent/CMakeLists.txt
  src/agent/src/main.c
  src/communication_abstraction/src/client_handle_helper.c
  src/communication_managers/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/CMakeLists.txt
  src/communication_managers/iothub_communication_manager/inc/aduc/iothub_communication_manager.h
  src/communication_managers/iothub_communication_manager/src/iothub_communication_manager.c
  src/utils/CMakeLists.txt
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/src/d2c_messaging.c
  src/utils/d2c_messaging/tests/CMakeLists.txt
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
  src/utils/eis_utils/inc/eis_utils.h
  src/utils/retry_utils/CMakeLists.txt
  src/utils/retry_utils/inc/aduc/retry_utils.h
  src/utils/retry_utils/src/retry_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Making linking changes to see if that fixes the build error
  src/utils/config_utils/CMakeLists.txt
  src/utils/parson_json_utils/CMakeLists.txt
  src/utils/process_utils/CMakeLists.txt
  src/utils/system_utils/src/system_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix undefined references error in adu-shell
  src/adu-shell/CMakeLists.txt
  src/adu-shell/src/aptget_tasks.cpp
  src/adu-shell/src/main.cpp
  src/utils/system_utils/src/system_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix undefined references error in adu-shell (#305)
  src/adu-shell/CMakeLists.txt
  src/adu-shell/src/aptget_tasks.cpp
  src/adu-shell/src/main.cpp
  src/utils/system_utils/src/system_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix up Linux build breaks.
  src/diagnostics_component/diagnostics_workflow/CMakeLists.txt
  src/extensions/content_downloaders/deliveryoptimization_downloader/CMakeLists.txt
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/CMakeLists.txt
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/src/source_update_cache.c
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/src/source_update_cache_utils.c
  src/extensions/step_handlers/apt_handler/CMakeLists.txt
  src/extensions/step_handlers/script_handler/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v2/CMakeLists.txt
  src/libaducpal/inc/aducpal/ftw.h
  src/libaducpal/inc/aducpal/strings.h
  src/libaducpal/inc/aducpal/sys_utsname.h
  src/libaducpal/inc/aducpal/unistd.h
  src/utils/process_utils/inc/aduc/process_utils.hpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Turn d2c_messaging unit tests into functional test, and skipped by default.
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fixed up Windows build. aziotsharedutil, azure_macro_utils_c and umock_c issues resolved and all UTs building.
  cmake/agentRules.cmake
  scripts/build.ps1
  src/adu-shell/CMakeLists.txt
  src/adu_types/src/adu_types.c
  src/adu_workflow/CMakeLists.txt
  src/communication_abstraction/CMakeLists.txt
  src/diagnostics_component/diagnostics_devicename/CMakeLists.txt
  src/diagnostics_component/diagnostics_devicename/src/diagnostics_devicename.c
  src/diagnostics_component/diagnostics_workflow/CMakeLists.txt
  src/diagnostics_component/utils/config_utils/tests/CMakeLists.txt
  src/diagnostics_component/utils/file_info_utils/CMakeLists.txt
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/CMakeLists.txt
  src/extensions/step_handlers/simulator_handler/CMakeLists.txt
  src/extensions/step_handlers/simulator_handler/tests/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v2/CMakeLists.txt
  src/extensions/update_manifest_handlers/steps_handler/CMakeLists.txt
  src/platform_layers/linux_platform_layer/tests/CMakeLists.txt
  src/platform_layers/simulator_platform_layer/CMakeLists.txt
  src/utils/c_utils/CMakeLists.txt
  src/utils/c_utils/tests/CMakeLists.txt
  src/utils/config_utils/CMakeLists.txt
  src/utils/eis_utils/CMakeLists.txt
  src/utils/hash_utils/tests/CMakeLists.txt
  src/utils/https_proxy_utils/CMakeLists.txt
  src/utils/https_proxy_utils/tests/CMakeLists.txt
  src/utils/path_utils/CMakeLists.txt
  src/utils/process_utils/CMakeLists.txt
  src/utils/system_utils/CMakeLists.txt
  src/utils/workflow_data_utils/CMakeLists.txt
  src/utils/workflow_utils/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix up Linux build.
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/tests/CMakeLists.txt
  src/extensions/step_handlers/apt_handler/tests/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v2/tests/CMakeLists.txt
  src/platform_layers/linux_platform_layer/tests/CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml
