Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/docker/adu-debian-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/docker/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
        os: linux
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: aduc_1es_client_pool
      sdl:
        sourceAnalysisPool:
  ...

azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: 1es_hosted_pool_windows
        os: windows
      sdl:
        sourceAnalysisPool:
          name: 1es_hosted_pool_windows
          os: windows
        suppression:
  ...

Fix github build workflow (build and test w/ ValGrind)
  .github/workflows/docker-build.yml
  README.md
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix leak when initializing zlog multiple times.
  src/logging/zlog/src/init.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix memory leaks and run unit test with ValGrind on Ubuntu 20.04, and newer, build hosts (#800)
  .github/workflows/docker-build.yml
  README.md
  docs/agent-reference/how-to-build-agent-code.md
  docs/agent-reference/how-to-implement-custom-update-handler.md
  scripts/install-deps.sh
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/adu_core_interface/tests/device_properties_tests/CMakeLists.txt
  src/agent/adu_core_interface/tests/device_properties_tests/device_properties_ut.cpp
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/handler/utils/tests/microsoft_delta_download_handler_utils_ut.cpp
  src/extensions/step_handlers/script_handler/src/script_handler.cpp
  src/extensions/step_handlers/script_handler/tests/script_handler_ut.cpp
  src/extensions/step_handlers/simulator_handler/src/simulator_handler.cpp
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
  src/extensions/step_handlers/swupdate_handler_v2/tests/swupdate_handler_v2_ut.cpp
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
  src/utils/crypto_utils/tests/crypto_utils_ut.cpp
  src/utils/eis_utils/src/eis_utils.c
  src/utils/eis_utils/tests/eis_utils_ut.cpp
  src/utils/jws_utils/tests/jws_utils_ut.cpp
  src/utils/parser_utils/src/parser_utils.c
  src/utils/process_utils/tests/process_utils_ut.cpp
  src/utils/reporting_utils/tests/reporting_utils_ut.cpp
  src/utils/root_key_utils/tests/root_key_utils_ut.cpp
  src/utils/rootkeypackage_utils/tests/src/rootkeypackage_download_ut.cpp
  src/utils/rootkeypackage_utils/tests/src/rootkeypackage_utils_ut.cpp
  src/utils/workflow_utils/inc/aduc/workflow_utils.h
  src/utils/workflow_utils/src/workflow_utils.c
  src/utils/workflow_utils/tests/workflow_get_update_file_ut.cpp
  src/utils/workflow_utils/tests/workflow_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Enable Ubuntu 24.04 build in GitHub workflow
  .github/workflows/docker-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Update Ubuntu version in Docker build matrix
  .github/workflows/docker-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Support custom work folder for build and dependency installation
  .github/workflows/docker-build.yml
  .gitignore
  docs/agent-reference/how-to-build-agent-code.md
  scripts/build.sh
  scripts/install-deps.sh
  src/extensions/step_handlers/script_handler/tests/script_handler_ut.cpp
  src/extensions/step_handlers/swupdate_handler_v2/tests/swupdate_handler_v2_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Install-depts: Add more tracing for symlink creation
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix invalid cmake path
  scripts/build.sh
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix(install-deps): Ensure 'file' utility is available for Ubuntu 24.04+ to support CPack packaging
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

feat(build): Support custom work folder for dependency installation and build (#803)
  .github/workflows/docker-build.yml
  .gitignore
  docs/agent-reference/how-to-build-agent-code.md
  scripts/build.sh
  scripts/install-deps.sh
  src/extensions/step_handlers/script_handler/tests/script_handler_ut.cpp
  src/extensions/step_handlers/swupdate_handler_v2/tests/swupdate_handler_v2_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

clone swupdate-handler-v2 to v3
  src/extensions/step_handlers/swupdate_handler_v3/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v3/README.md
  src/extensions/step_handlers/swupdate_handler_v3/images/highlevel-overview-swupdate-handler-workflow.svg
  src/extensions/step_handlers/swupdate_handler_v3/images/swupdate-script-options-and-arguments.svg
  src/extensions/step_handlers/swupdate_handler_v3/inc/aduc/swupdate_handler_v2.hpp
  src/extensions/step_handlers/swupdate_handler_v3/src/handler_create.cpp
  src/extensions/step_handlers/swupdate_handler_v3/src/swupdate_handler_v2.cpp
  src/extensions/step_handlers/swupdate_handler_v3/tests/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v3/tests/swupdate_handler_v2_ut.cpp
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/adu-yocto-ab-rootfs-update/README.md
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/adu-yocto-ab-rootfs-update/create-yocto-ab-rootfs-update-import-manifest-1.0.ps1
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/adu-yocto-ab-rootfs-update/payloads/adu-version
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/adu-yocto-ab-rootfs-update/payloads/example-a-b-update.sh
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/adu-yocto-ab-rootfs-update/payloads/my-update.swu
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/adu-yocto-ab-rootfs-update/sample_swupdate_config.json
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/swupdate_filecopy/README.md
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/swupdate_filecopy/du-agent-swupdate-filecopy-test-1_1.0.swu
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/swupdate_filecopy/example-du-swupdate-script-2.1.sh
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/swupdate_filecopy/example-du-swupdate-script.sh
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/swupdate_filecopy/installed-criteria.txt
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/swupdate_filecopy/mock-update-for-file-copy-test-1.txt
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/swupdate_filecopy/preinst.sh
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/swupdate_filecopy/sw-description
  src/extensions/step_handlers/swupdate_handler_v3/tests/testdata/swupdate_handler_v2_test_config/du-config.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

swupdate-handler-v3 - rename files
  src/extensions/step_handlers/swupdate_handler_v3/inc/aduc/swupdate_handler_v3.hpp
  src/extensions/step_handlers/swupdate_handler_v3/src/swupdate_handler_v3.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

swupdate-handler-v3 POC
  CMakeLists.txt
  docs/agent-reference/aduagent-sdk-design.md
  docs/agent-reference/aduagent-sdk-implementation-roadmap.md
  src/extensions/step_handlers/swupdate_handler_v3/BOOT_CMD_ALIGNMENT.md
  src/extensions/step_handlers/swupdate_handler_v3/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v3/DESIGN.md
  src/extensions/step_handlers/swupdate_handler_v3/README.md
  src/extensions/step_handlers/swupdate_handler_v3/inc/aduc/swupdate_handler_v3.hpp
  src/extensions/step_handlers/swupdate_handler_v3/src/handler_create.cpp
  src/extensions/step_handlers/swupdate_handler_v3/src/swupdate_handler_v3.cpp
  src/extensions/step_handlers/swupdate_handler_v3/tests/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v3/tests/UNIT_TEST_UPDATES.md
  src/extensions/step_handlers/swupdate_handler_v3/tests/swupdate_handler_v2_ut.cpp
  src/extensions/step_handlers/swupdate_handler_v3/tests/swupdate_handler_v3_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add new example swupdate script file for yocto reference image for rpi4
  src/extensions/step_handlers/swupdate_handler_v2/examples/yocto-a-b-update.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Report detailed error result for failed workflows.
  src/adu_workflow/src/agent_workflow.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Show ExtendedResultCode in IoTHub for "Last Attempted Update" in "Details"
  src/adu_types/inc/aduc/types/update_content.h
  src/agent/adu_core_interface/src/adu_core_interface.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Create delta-update-demo.md for ADU testing
  docs/preview/delta-update-demo.md
Due: none

Update instruction
  docs/preview/delta-update-demo.md
  docs/preview/flash-step-1.png
  docs/preview/flash-step-3.png
Due: none

Add adu-configs-tool section
  docs/preview/adu-configs-tool/README.md
  docs/preview/adu-configs-tool/du-config-template.json
  docs/preview/adu-configs-tool/references/how-to-x509-authentication.md
  docs/preview/adu-configs-tool/references/x509-demo/x509-demo.sh
  docs/preview/adu-configs-tool/requirements.txt
  docs/preview/adu-configs-tool/setup_device_certs.py
  docs/preview/delta-update-demo.md
Due: none

Improve document
  docs/preview/delta-update-demo.md
Due: none

Pass workflowData to PrepareScriptArguments to make it possible to pass custom data from workflowData to the scripts
  src/extensions/step_handlers/script_handler/inc/aduc/script_handler.hpp
  src/extensions/step_handlers/script_handler/src/script_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Extra catch section to get details logged.
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix wrong documentation, -1 will read outside array.
  src/utils/workflow_utils/src/workflow_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Delta update demo - update instruction
  docs/preview/delta-update-demo.md
Due: none

Remove unused file
  src/adu-shell/scripts/adu-swupdate.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Should not register daemon on build machine
  CMakeLists.txt
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix wrong documentation, -1 will read outside array. (#808)
  src/utils/workflow_utils/src/workflow_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix leak when initializing zlog multiple times. (#801)
  src/logging/zlog/src/init.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Report detailed error result for failed workflows. (#804)
  src/adu_workflow/src/agent_workflow.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Show ExtendedResultCode in IoTHub for "Last Attempted Update" in "Details" (#805)
  src/adu_types/inc/aduc/types/update_content.h
  src/agent/adu_core_interface/src/adu_core_interface.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Delete unused example update artifacts
  src/extensions/step_handlers/swupdate_handler_v2/examples/yocto-a-b-update.sh
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/README.md
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/create-yocto-ab-rootfs-update-import-manifest-1.0.ps1
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/payloads/adu-version
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/payloads/example-a-b-update.sh
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/payloads/my-update.swu
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/sample_swupdate_config.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Update swupdate handler to pass --workflow-id to the script.
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix bug in ADUC_SystemUtils_CopyFileToDir
  src/utils/system_utils/src/system_utils.c
  src/utils/system_utils/tests/system_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add reboot synchronization to allow agent cleanup before restart
  src/adu-shell/scripts/adu-reboot-wrapper.sh
  src/adu-shell/src/common_tasks.cpp
  src/adu_types/inc/aduc/types/adu_core.h
  src/adu_workflow/src/agent_workflow.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

feat(delta): add CacheSourceUpdate API, improve cache robustness, enhance logging
  src/extensions/download_handlers/README.md
  src/extensions/download_handlers/download_handler_plugin/inc/aduc/download_handler_plugin.h
  src/extensions/download_handlers/download_handler_plugin/inc/aduc/download_handler_plugin.hpp
  src/extensions/download_handlers/download_handler_plugin/src/download_handler_plugin.cpp
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/CMakeLists.txt
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/README.md
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/handler/lib/inc/aduc/microsoft_delta_download_handler.h
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/handler/lib/src/microsoft_delta_download_handler.c
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/handler/plugin/src/microsoft_delta_download_handler_plugin.EXPORTS.c
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/handler/utils/src/microsoft_delta_download_handler_utils.c
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/handler/utils/src/microsoft_delta_download_handler_utils.cpp
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/CMakeLists.txt
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/src/source_update_cache.c
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/src/source_update_cache_utils.c
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/source_update_cache/src/source_update_cache_utils.cpp
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/tools/delta-test/CMakeLists.txt
  src/extensions/download_handlers/plugin_examples/microsoft_delta_download_handler/tools/delta-test/src/main.c
  src/extensions/extension_manager/src/extension_manager.cpp
  src/extensions/inc/aduc/exports/extension_download_handler_export_symbols.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Add reference implementation for integrating custom extended result codes for Steps Handler (microsoft/swupdate:2)
  CMakeLists.txt
  docs/agent-reference/device-update-agent-extended-result-codes.md
  scripts/error_code_generator_defs/error_code_defs_generator.py
  scripts/error_code_generator_defs/extension_configs.json
  scripts/error_code_generator_defs/extension_result_code_generator.py
  scripts/error_code_generator_defs/generate_all_extension_headers.py
  scripts/error_code_generator_defs/result_codes.json
  src/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v2/CMakeLists.txt
  src/extensions/step_handlers/swupdate_handler_v2/RESULT_CODES.md
  src/extensions/step_handlers/swupdate_handler_v2/inc/aduc/swupdate_handler_result_codes.h
  src/extensions/step_handlers/swupdate_handler_v2/swupdate_handler_result_codes.json
  src/inc/aduc/result.h
  src/inc/aduc/swupdate_handler_result_codes.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Remove unused file (adu-swupdate.sh)
  src/adu-shell/scripts/CMakeLists.txt
  src/adu-shell/scripts/adu-swupdate.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix chmod permissions, unit tests, and shellcheck warnings
  scripts/install-deps.sh
  scripts/sh-format.sh
  src/extensions/step_handlers/swupdate_handler_v2/inc/aduc/swupdate_handler_result_codes.h
  src/extensions/step_handlers/swupdate_handler_v2/tests/swupdate_handler_v2_ut.cpp
  src/inc/aduc/result.h
  src/inc/aduc/swupdate_handler_result_codes.h
  src/utils/system_utils/src/system_utils.c
  src/utils/system_utils/tests/system_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix vcpkg installation for delta library
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Auto-detect CPU architecture for vcpkg triplet
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/docker/adu-debian-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/docker/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: daemon, docker, docs, licenses, tools, **/*.md
