Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

azurepipelines/adu-debian-arm32-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/adu-ubuntu-arm64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 360
    cancelTimeoutInMinutes: 360
    pool: aduc_1es_client_pool
    steps:
  ...

azurepipelines/build/native/adu-ubuntu-amd64-build.yml:
  name: $(version.major).$(version.minor).$(version.patch)-$(version.pre-release)+$(version.build)
  jobs:
  - job: BuildAduAgent
    displayName: Build ADU Agent
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 60
    pool: aduc_1es_client_pool
    steps:
    - template: ../templates/adu-native-build-steps.yml
  ...

Ensure that the secondary script has the write mode.
  src/extensions/step_handlers/script_handler/examples/intall-multiple-files/create-import-manifest.ps1
  src/extensions/step_handlers/script_handler/examples/intall-multiple-files/example-script-handler-actions-impl.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix folder name
  src/extensions/step_handlers/script_handler/examples/install-multiple-files/create-import-manifest.ps1
  src/extensions/step_handlers/script_handler/examples/install-multiple-files/data-file-1
  src/extensions/step_handlers/script_handler/examples/install-multiple-files/data-file-2
  src/extensions/step_handlers/script_handler/examples/install-multiple-files/example-script-handler-actions-impl.sh
  src/extensions/step_handlers/script_handler/examples/install-multiple-files/process-data-file.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update how-to-implement-custom-update-handler.md
  docs/agent-reference/how-to-implement-custom-update-handler.md
Due: none

fix snapcraft yaml
  snap/snapcraft.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

switch to develop branch from DO
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

add DO dependency (snap)
  snap/snapcraft.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix broken link in how-to-build-agent-code.md
  docs/agent-reference/how-to-build-agent-code.md
Due: none

Fix broken link in how-to-build-agent-code.md (#501)
  docs/agent-reference/how-to-build-agent-code.md
Due: none

change default path
  scripts/build.sh
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

more fixes
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
  scripts/build.sh
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Create codeql.yml
  .github/workflows/codeql.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

run codeql in github action on develop for python cpp
  .github/workflows/codeql.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

1.1.1u
  scripts/build.sh
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

use ubuntu-latest to prevent hanging on no longer supported 18.04
  .github/workflows/codeql.yml
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

try ubuntu-20.04 since 22.04 + openssl3 build support not merged yet
  .github/workflows/codeql.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

only choose cpp for code scanning
  .github/workflows/codeql.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

add flags to install-deps.sh to workaround /tmp deletion
  .github/workflows/codeql.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Support Ubuntu 22.04 arm64 amd64 (#490)
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
  azurepipelines/build/native/adu-ubuntu-arm64-build.yml
  scripts/build.sh
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

try latest now that 22.04 support is added
  .github/workflows/codeql.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

add libxml2-dev for codeql github action
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Revert "add libxml2-dev for codeql github action"
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

update e2e test yaml to unblock pipelines+fix some typos
  azurepipelines/e2e_test/e2etest.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

comment out incorrectly
  azurepipelines/e2e_test/e2etest.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

avoid timeout
  azurepipelines/e2e_test/e2etest.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

update e2e test yaml to unblock pipelines+fix some typos (#505)
  azurepipelines/e2e_test/e2etest.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

try removing something
  azurepipelines/e2e_test/scenarios/test_runner/vm_setup/setup.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

remove extra start
  azurepipelines/e2e_test/scenarios/test_runner/vm_setup/setup.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

get back the comment out stuff
  azurepipelines/e2e_test/scenarios/test_runner/vm_setup/setup.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix broking link in how-to-implement-custom-update-handler.md (#498)
  docs/agent-reference/how-to-implement-custom-update-handler.md
Due: none

Small fix on snap yaml for publishing to Ubuntu Core Store (#499)
  snap/snapcraft.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Windows Pipeline, Run UTs, Publish TestRun and Build Artifacts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml
  scripts/build.ps1
  scripts/install-deps.ps1
  scripts/run_uts.ps1
  src/utils/system_utils/tests/system_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

add PR triggering and feature branch to branch trigger
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Add Windows Build Pipeline (#506)
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml
  scripts/build.ps1
  scripts/install-deps.ps1
  scripts/run_uts.ps1
  src/utils/system_utils/tests/system_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

disable a line
  azurepipelines/e2e_test/scenarios/test_runner/vm_setup/setup.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

add arm64 release build
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
