Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/docker/adu-debian-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/docker/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml: any file but: daemon, docker, docs, licenses, tools, **/*.md

Fix tests to not rely on existing files.
  src/extensions/extension_manager/tests/CMakeLists.txt
  src/extensions/extension_manager/tests/src/extension_manager_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Fix tests to even when there is a valid config in the environment.
  src/extensions/extension_manager/tests/src/extension_manager_helper_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: reset content downloader on unload to stop shutdown dlsym crash
  src/extensions/extension_manager/src/extension_manager.cpp
  src/extensions/extension_manager/tests/src/extension_manager_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

install-deps: pre-seed bzip2 tarball for vcpkg under 1ES network isolation
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

docs(changelog): note bzip2 vcpkg pre-seed network-isolation fix (#910)
  CHANGELOG.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

install-deps: pre-seed bzip2 tarball for vcpkg under 1ES network isolation (#910)
  CHANGELOG.md
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

fix: do not join the api service thread when it was never started
  src/agent/api/src/apisvc.c
  src/agent/api/tests/apisvc_unit_tests.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/docker-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml

Pin GitHub Actions to full-length commit SHAs (#913)
  .github/dependabot.yml
  .github/workflows/docker-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/docker/adu-debian-amd64-build.yml, azurepipelines/build/docker/adu-debian-arm32-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml, azurepipelines/build/native/adu-windows-msvc2022-amd64-build.yml
