Repository Azure/iot-hub-device-update: changes, and which Azure pipelines are due for each by the changed paths.
All: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Path conditions:
  azurepipelines/adu-debian-arm32-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts
  azurepipelines/adu-ubuntu-arm64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, docker
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml: any file but: docs, README.md, LICENSE.md, .clang-format, .cmake-format.json, tools, docker, scripts

Follow least privilege principle (#619)
  packages/debian/postinst
  packages/debian/postrm
  src/agent/src/health_management.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Improve Device to Cloud messaging reliability to ensure highest success rate of the update result reporting. (#616)
  src/agent/CMakeLists.txt
  src/agent/adu_core_interface/CMakeLists.txt
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/agent/device_info_interface/CMakeLists.txt
  src/agent/device_info_interface/inc/aduc/device_info_interface.h
  src/agent/device_info_interface/src/device_info_interface.c
  src/agent/src/main.c
  src/diagnostics_component/diagnostics_interface/CMakeLists.txt
  src/diagnostics_component/diagnostics_interface/src/diagnostics_interface.c
  src/utils/CMakeLists.txt
  src/utils/d2c_messaging/CMakeLists.txt
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/src/d2c_messaging.c
  src/utils/d2c_messaging/tests/CMakeLists.txt
  src/utils/d2c_messaging/tests/d2c_messaging_ut.cpp
  src/utils/d2c_messaging/tests/main.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Add `$schema` to `cgmanifest.json` (#211)
  licenses/cgmanifest.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Point to the latest DO v1.0.0 version (#620)
  azurepipelines/e2e_test/scenarios/debian-10-amd64/vm_setup/setup.sh
  azurepipelines/e2e_test/scenarios/ubuntu-18.04-amd64/vm_setup/setup.sh
  azurepipelines/e2e_test/scenarios/ubuntu-18.04-arm64/vm_setup/setup.sh
  azurepipelines/e2e_test/scenarios/ubuntu-20.04-amd64/vm_setup/setup.sh
  docs/agent-reference/how-to-build-agent-code.md
  licenses/cgmanifest.json
  packages/CMakeLists.txt
  scripts/docker/build_docker_image.sh
  scripts/install-deps.sh
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  tools/selfhost/bootstrap_config_example.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

bump the version
  CMakeLists.txt
  azurepipelines/build/docker/adu-debian-amd64-build.yml
  azurepipelines/build/docker/adu-debian-arm32-build.yml
  azurepipelines/build/docker/adu-debian-arm64-build.yml
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
  azurepipelines/build/native/adu-ubuntu-arm64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Do not set install_packages when install_all_deps specified (#621)
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fix broken link and comment in SWUpdate V2 A/B image update example
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/README.md
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/create-yocto-ab-rootfs-update-import-manifest-1.0.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix typo
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/create-yocto-ab-rootfs-update-import-manifest-1.0.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update swupdate handler v2 example documents and scripts (#234)
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/README.md
  src/extensions/step_handlers/swupdate_handler_v2/tests/testdata/adu-yocto-ab-rootfs-update/create-yocto-ab-rootfs-update-import-manifest-1.0.ps1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

fix where updateIdStr gets created
  tools/AduCmdlets/AduImportUpdate.psm1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Update Update-Manifest markdown
  docs/agent-reference/update-manifest-v4-schema.md
Due: none

fix where updateIdStr gets created (#236)
  tools/AduCmdlets/AduImportUpdate.psm1
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Update Update-Manifest markdown (#237)
  docs/agent-reference/update-manifest-v4-schema.md
Due: none

Update contrib guide, develop and ideas discussion
  CONTRIBUTING.md
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

snapcraft support - Add initial snapcraft.yaml - Add README.md
  .gitignore
  docs/agent-reference/how-to-build-deviceupdate-agent-snap.md
  snap/snapcraft.yaml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

- Fix an issue for image-based update scenario where the device doesn't reboot after the new image is installed. - Add ADUC_D2C_Message_Type_Device_Properties to avoid a race condition.
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/extensions/step_handlers/swupdate_handler/src/swupdate_handler.cpp
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/src/d2c_messaging.c
  src/utils/workflow_utils/src/workflow_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update steps_handler.cpp
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update workflow_utils.c
  src/utils/workflow_utils/src/workflow_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Address PR feedback
  src/utils/d2c_messaging/src/d2c_messaging.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Fix issue in reboot/restart flow and race condition in D2C messaging util (#242)
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/extensions/step_handlers/swupdate_handler/src/swupdate_handler.cpp
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/src/d2c_messaging.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Merge 'develop' into 'main' (#243)
  src/agent/adu_core_interface/src/adu_core_interface.c
  src/extensions/step_handlers/swupdate_handler/src/swupdate_handler.cpp
  src/extensions/step_handlers/swupdate_handler_v2/src/swupdate_handler_v2.cpp
  src/extensions/update_manifest_handlers/steps_handler/src/steps_handler.cpp
  src/utils/d2c_messaging/inc/aduc/d2c_messaging.h
  src/utils/d2c_messaging/src/d2c_messaging.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

cleanup sandbox on start of deployment processing
  src/adu_workflow/src/agent_workflow.c
  src/utils/system_utils/inc/aduc/system_utils.h
  src/utils/system_utils/src/system_utils.c
  src/utils/system_utils/tests/CMakeLists.txt
  src/utils/system_utils/tests/system_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

native build
  azurepipelines/build/native/adu-ubuntu-amd64-build.yml
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

revert clang-format.sh to avoid issues when pipe in staged content
  scripts/clang-format.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Disable clangformat in precommit hook due to cross ver compat
  scripts/githooks/pre-commit.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Fix install-deps issue when --work-folder used on ubuntu 20.04
  scripts/install-deps.sh
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml

Cleaning dirs instead of foreach in dbg log
  src/adu_workflow/src/agent_workflow.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

rmv unused err param doxygen and rmv else
  src/utils/system_utils/src/system_utils.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Update how-to-build-agent-code.md
  docs/agent-reference/how-to-build-agent-code.md
Due: none

Manually integrate PR https://github.com/Azure/iot-hub-device-update/pull/58
  src/adu_workflow/src/agent_workflow.c
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

test
  README.md
Due: none

initial util and types
  src/utils/rootkeypackage_utils/CMakeLists.txt
  src/utils/rootkeypackage_utils/inc/rootkeypackage.schema.json
  src/utils/rootkeypackage_utils/inc/rootkeypackage_types.h
  src/utils/rootkeypackage_utils/inc/rootkeypackage_utils.h
  src/utils/rootkeypackage_utils/src/rootkeypackage_utils.c
  src/utils/rootkeypackage_utils/tests/CMakeLists.txt
  src/utils/rootkeypackage_utils/tests/main.cpp
  src/utils/rootkeypackage_utils/tests/rootkeypackage_utils_ut.cpp
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

remove ECC and change untrusted to disabled
  src/utils/rootkeypackage_utils/inc/rootkeypackage_types.h
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml

Remove EC conditional from rootkeypackage json schema
  src/utils/rootkeypackage_utils/inc/rootkeypackage.schema.json
Due: azurepipelines/adu-debian-arm32-build.yml, azurepipelines/adu-ubuntu-amd64-build.yml, azurepipelines/adu-ubuntu-arm64-build.yml, azurepipelines/build/native/adu-ubuntu-amd64-build.yml
